.card-style {
    width: 800px;
    display: block;
    height: 180px;
    border-color: #1F2A5B;
}
.image-col {
    margin-left: 8px;
}
.header-style {
    font-size: 16px;
}
.body-text-style {
    font-size: 14px;
}
.body-style {
    padding-top: 10px;
    padding-bottom: 4px;
}
.img-style {
    max-height: 125px;
    min-height: 125px;
    object-fit: contain;
}
.figs {
    box-shadow: var(--slds-c-card-shadow, 0 2px 2px 0 rgba(0, 0, 0, 0.35));
    margin: auto;
}
.warning-style {
    background-color: #F9E3B6;
    font-size: 15px;
}
.grid-style {
    position: relative;
}
.inner-grid-style {
    position: absolute;
    top: 77px;
    padding: 3px;
    width: max-content;
}
.button-div-style {
    padding-left: 30px;
}
.button-style {
    border-color: #1F2A5B;
}