<!-- Search Result Card -->
<template>
    <article class="slds-card card-style slds-align_absolute-center" lwc:if={showCard}>
        <div class="slds-grid slds-gutters">
            <div class="slds-col slds-size_1-of-4 image-col">
                <figure class="slds-image figs">
                    <img src={selectedSearchResult.image} class="img-style"/>
                </figure>
            </div>
            <div class="slds-col slds-size_2-of-4" lwc:if={showSelectedAssetCard}>
                <div class="body-text-style body-style">{labels.Serial_Number}: {selectedSearchResult.name}</div>
                <div class="body-text-style">{labels.Model}: {selectedSearchResult.modelName}</div>
            </div>
            <div class="slds-col slds-size_2-of-4 " lwc:elseif={showSelectedModelCard}>
                <div class="slds-grid slds-grid_vertical grid-style">
                    <div class="slds-col">
                        <h2 class="slds-card__header-title header-style">
                            <span>{selectedSearchResult.modelName}</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-4 button-div-style">
                <div class="slds-no-flex">
                    <button class="slds-button slds-button_neutral button-style" onclick={clearFilter}>{labels.Clear_Filter}</button>
                </div>
            </div>
        </div>
    </article>
</template>