.THIS .customRequired {
    font-weight: 400; 
} 

.THIS .customRequired:before {
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; 
}

.THIS .more-height {
    height: 250px; 
} 

.THIS .none {
    display:none;
}