<template>
    <div class="chatter-feed">
        <!-- Header with buttons -->
        <div class="header">
            <!-- <lightning-button icon-name="utility:refresh" alternative-text="Refresh" onclick={handleRefresh}
                variant="border-filled" class="button-icon email-actions "></lightning-button> -->
            <lightning-button-icon icon-name="utility:refresh" variant="border-filled" alternative-text="Refresh"
                class={refreshClass} onclick={handleRefresh}>
            </lightning-button-icon>
            <lightning-button icon-name={iconState} alternative-text="Expand/Collapse" onclick={expandAll}
                variant="border-filled" class="expand-all-button"></lightning-button>
        </div>
        <!-- Show posts if they exist -->
        <template if:true={feedItems}>
            <template for:each={feedItems} for:item="item">
                <template lwc:if={item.isPost}>
                    <div key={item.Id} class="post">
                        <div class="post-info">
                            <span><lightning-icon icon-name="standard:post" size="small"></lightning-icon><strong
                                    class="posted-by"><a href={item.userHyperLink}>{item.CreatedByName}</a> on
                                    {item.formattedDate}</strong>
                                <lightning-button icon-name={item.iconState} class="expand-post-button slds-float_right"
                                    onclick={toggleItem} data-id={item.Id}></lightning-button></span>
                        </div>
                        <!-- Post comments -->
                        <div class="post-comments" if:true={item.isExpanded}>
                            <div class="post-header">
                                <lightning-formatted-rich-text class="post-body" value={item.newBody}
                                    data-id={item.Id}></lightning-formatted-rich-text><br />
                            </div>
                            <div>
                                <lightning-button variant="brand" label="Comment" onclick={handleComment}
                                    data-id={item.Id}></lightning-button>
                            </div>
                            <!-- Add Comment -->
                            <div class="add-comment" if:true={item.showCommentBox}>
                                <lightning-input-rich-text label="Add Comment" value={commentText}
                                    onchange={handleCommentChange} data-id={item.Id}></lightning-input-rich-text><br />
                                <div class="header">
                                    <lightning-button label="Cancel" class="slds-float_right" onclick={cancelComment}
                                        data-id={item.Id}></lightning-button>
                                    <lightning-button label="Post" variant="brand" class="slds-float_right"
                                        onclick={addComment} data-id={item.Id}></lightning-button>
                                </div>
                            </div>
                            <template for:each={item.Comments} for:item="comment">
                                <div key={comment.Id} class="comment">
                                    <span><lightning-icon icon-name="standard:rtc_presence"
                                            size="small"></lightning-icon>
                                        <strong class="comment-info"><a
                                                href={comment.userHyperLink}>{comment.CreatedByName}</a> on
                                            {comment.formattedDate}</strong></span><br />
                                    <lightning-formatted-rich-text class="comment-body"
                                        value={comment.Body}></lightning-formatted-rich-text>
                                </div>
                            </template>
                        </div>
                    </div>
                </template>
                <template lwc:elseif={item.isEmail}>
                    <div key={item.Id} class="post">
                        <div class="post-info">
                            <span><lightning-icon icon-name={item.emailIcon} size="small"></lightning-icon><strong
                                    class="emailed-by"><a href={item.userHyperLink} target>{item.FromName} </a> on
                                    {item.formattedDate}</strong></span>
                            <lightning-icon class="slds-m-left_x-small" icon-name={item.attachmentIcon}
                                size="small"></lightning-icon>
                            <lightning-button icon-name={item.iconState} class="expand-post-button slds-float_right"
                                onclick={toggleItem} data-id={item.Id}></lightning-button>
                        </div>
                        <div class="email-header" if:true={item.isExpanded}>
                            <p><strong>From: </strong>{item.FromAddress}</p>
                            <p><strong>To: </strong>{item.ToAddress}</p>
                            <p><strong>Cc: </strong>{item.CcAddress}</p>
                            <p><strong>Bcc: </strong>{item.bccAdd}</p>
                            <p><strong>Subject: </strong>{item.Subject}</p>
                            <p><strong>Body:</strong></p>
                            <template if:true={item.HasAttachment}>
                                <lightning-button variant="brand-outline" label="Show Attachments"
                                    title="Click to see the attachemnts available" onclick={showAttachments}
                                    class="attachment-button slds-float_right"
                                    data-id={item.Id}></lightning-button><br /><br />
                                <div class="post-comments" if:true={item.showAttachmentTable}>
                                    <lightning-card title="Email Attachments" icon-name="standard:attach">
                                        <lightning-button variant="brand" label="Download Files" title="Download files"
                                            icon-name="utility:download" class="slds-m-left_x-small" slot="actions"
                                            onclick={downloadFiles}></lightning-button>
                                        <lightning-datatable key-field="id" data={attachments} columns={columns}
                                            onrowaction={handleRowAction}>
                                        </lightning-datatable>
                                    </lightning-card>
                                </div><br /><br />
                            </template>
                            <div class="email-body">
                                <lightning-formatted-rich-text value={item.HtmlBody}></lightning-formatted-rich-text>
                            </div>
                            <div class="email-actions slds-m-top_small">
                                <lightning-button variant="brand" name="Reply" label="Reply" onclick={handleReply}
                                    data-id={item.Id}></lightning-button>
                                <lightning-button variant="brand" name="ReplyAll" label="Reply All"
                                    onclick={handleReply} data-id={item.Id}></lightning-button>
                                <lightning-button variant="brand" name="Forward" label="Forward" onclick={handleReply}
                                    data-id={item.Id}></lightning-button>
                            </div>
                            <div lwc:if={replyDiv}>
                                <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open">
                                    <div class="slds-modal__container">
                                        <!-- Modal/Popup Header -->
                                        <header class="slds-modal__header">
                                            <button
                                                class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                                title="Close" onclick={closeModal}>
                                                <lightning-icon icon-name="utility:close" alternative-text="close"
                                                    size="small"></lightning-icon>
                                                <span class="slds-assistive-text">Close</span>
                                            </button>
                                        </header>
                                        <div class="slds-modal__content slds-p-around_medium">
                                            <div class="slds-form-element slds-m-top_small">
                                                <lightning-input style="display: none;" data-id="currentEmailId"
                                                    name="emailId" value={emailDetails.emailId}></lightning-input>
                                                <lightning-combobox label="From" value={assignedFromAddressPicklist}
                                                    options={fromAddresses} data-id="fromAddress" name="fromAddress"
                                                    onchange={handleInputChange} placeholder="Select From Address"
                                                    required="true"
                                                    message-when-value-missing="Please Select From Address">
                                                </lightning-combobox>
                                                <span>
                                                    <div class="slds-grid slds-gutters slds-wrap">
                                                        <div class="slds-col slds-size_12-of-12">
                                                            <lightning-input label="To" placeholder="Enter To emails..."
                                                                value={toSearchTerm} onchange={handleToChange}
                                                                onkeydown={handleEmailkeyDown} data-id="toAddresses"
                                                                name="toAddresses">
                                                            </lightning-input>
                                                            <template if:true={invalidEmail}>
                                                                <p class="error-message">Please enter valid email</p>
                                                            </template>
                                                            <a href="javascript:void(0);" onclick={toggleBccField}
                                                                class="slds-m-right_small slds-float_right">Bcc</a>
                                                            <a href="javascript:void(0);" onclick={toggleCcField}
                                                                class="slds-m-right_small slds-float_right">Cc</a>
                                                        </div>
                                                    </div>
                                                    <lightning-pill-container label="To" items={selectedToEmails}
                                                        onitemremove={handlePillRemove}>
                                                    </lightning-pill-container>
                                                </span>
                                                <template if:true={renderTosuggestion}>
                                                    <ul class="suggestion-list">
                                                        <template for:each={emailSuggestions} for:item="email">
                                                            <li key={email} onclick={handleToEmailSelect}
                                                                data-email={email}>
                                                                {email}</li>
                                                        </template>
                                                    </ul>
                                                </template>
                                                <template if:true={showCc}>
                                                    <span>
                                                        <lightning-input label="Cc" placeholder="Enter Cc emails..."
                                                            value={ccSearchTerm} onchange={handleCcChange}
                                                            onkeydown={handleEmailkeyDown} data-id="ccAddresses"
                                                            name="ccAddresses">
                                                        </lightning-input><lightning-pill-container label="Cc"
                                                            items={selectedCcEmails} onitemremove={handlePillRemove}>
                                                        </lightning-pill-container><template if:true={invalidEmail}>
                                                            <p class="error-message">Please enter valid email</p>
                                                        </template></span>
                                                    <template if:true={renderCcsuggestion}>
                                                        <ul class="suggestion-list">
                                                            <template for:each={emailSuggestions} for:item="email">
                                                                <li key={email} onclick={handleCcEmailSelect}
                                                                    data-email={email}>
                                                                    {email}</li>
                                                            </template>
                                                        </ul>
                                                    </template>
                                                </template>
                                                <template if:true={showBcc}>
                                                    <span>
                                                        <lightning-input label="Bcc" placeholder="Enter Bcc emails..."
                                                            value={bccSearchTerm} onchange={handleBccChange}
                                                            onkeydown={handleEmailkeyDown} data-id="BccAddresses"
                                                            name="BccAddresses">
                                                        </lightning-input><lightning-pill-container label="Bc"
                                                            items={selectedBccEmails} onitemremove={handlePillRemove}>
                                                        </lightning-pill-container><template if:true={invalidEmail}>
                                                            <p class="error-message">Please enter valid email</p>
                                                        </template></span>

                                                    <template if:true={renderBccsuggestion}>
                                                        <ul class="suggestion-list">
                                                            <template for:each={emailSuggestions} for:item="email">
                                                                <li key={email} onclick={handleBccEmailSelect}
                                                                    data-email={email}>
                                                                    {email}</li>
                                                            </template>
                                                        </ul>
                                                    </template>
                                                </template>
                                                <lightning-input label="Subject" data-id="subject" name="subject"
                                                    value={emailDetails.subject}
                                                    onchange={handleInputChange}></lightning-input>
                                                <div if:true={attachments} class="slds-m-top_medium">
                                                    <p>Select Attachments to be sent:</p>
                                                    <template for:each={attachments} for:item="attachment">
                                                        <div key={attachment.Id} class="slds-m-left_medium">
                                                            <div lwc:if={attachment.newAttachment}>
                                                                <lightning-input type="checkbox" label={attachment.fileName}
                                                                data-id={attachment.Id}
                                                                onchange={handleExistingAttachmentSelect} checked> </lightning-input>
                                                            </div>
                                                            <div lwc:else>
                                                                <lightning-input type="checkbox" label={attachment.fileName}
                                                                data-id={attachment.Id}
                                                                onchange={handleExistingAttachmentSelect}> </lightning-input>
                                                            </div>
                                                        </div>
                                                    </template>
                                                </div>
                                                <template if:true={fileData}>
                                                    <p>Uploaded files:</p>
                                                    <template for:each={fileData} for:item="file">
                                                        <div key={file.Id} class="slds-m-left_medium">
                                                            <lightning-input type="checkbox" label={file.fileName}
                                                                data-id={file.Id}
                                                                onchange={handleExistingAttachmentSelect} checked>
                                                            </lightning-input>
                                                        </div>
                                                    </template>
                                                </template>
                                                <template if:true={showProgress}>
                                                    <!--show latest progress bar-->
                                                    <div class="slds-m-top_small">
                                                        <lightning-progress-bar value={progressValue} size="medium"></lightning-progress-bar>
                                                    </div>  
                                                </template>
                                                <div>
                                                    <lightning-input type="file" label="Attach Files" name="fileUpload"
                                                        onchange={handleFileUpload} data-id={item.Id}
                                                        multiple></lightning-input>
                                                    <lightning-button variant="brand" label="Attach Files" data-id={item.Id}
                                                        onclick={insertFiles}></lightning-button>
                                                </div>
                                                <lightning-input-rich-text label="Body" data-id="emailBody"
                                                    name="emailBody" value={emailDetails.emailBody}
                                                    onchange={handleInputChange}>
                                                    <!-- <lightning-rich-text-toolbar-button-group slot="toolbar">
                                                        <lightning-rich-text-toolbar-button icon-name="utility:attach"
                                                            icon-alternative-text="Add Attachment"
                                                            onclick={handleAttachFile} data-id={emailDetails.emailId}>
                                                        </lightning-rich-text-toolbar-button>
                                                    </lightning-rich-text-toolbar-button-group> -->
                                                </lightning-input-rich-text>
                                            </div>
                                            <footer class="email-actions slds-m-top_small slds-modal__footer">
                                                <lightning-button variant="neutral" label="Cancel"
                                                    onclick={closeModal}></lightning-button>
                                                <lightning-button variant="brand" label="Send"
                                                    onclick={handleSendEmail}></lightning-button>
                                            </footer>
                                        </div>
                                    </div>
                                </section>
                                <!-- Modal Backdrop -->
                                <div class="slds-backdrop slds-backdrop_open"></div>
                            </div>
                        </div>
                    </div>
                </template>
            </template>
        </template>
        <!-- If no posts found -->
        <template if:false={feedItems}>
            <div>No posts or emails found for this case.</div>
        </template>
    </div>
</template>