.THIS.slds-docked-form-footer{
    position: relative !important;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #666666;
    display: block !important;
}

.THIS.slds-docked-form-footer .slds-grid{
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.THIS.slds-docked-form-footer .slds-grid .col-left{
    text-align: left;
}

.THIS.slds-docked-form-footer .slds-grid .col-middle{
    text-align: center;
}

.THIS.slds-docked-form-footer .slds-grid .col-right{
    text-align: right;
}

.THIS.slds-docked-form-footer a{
    color: inherit;
    padding: 10px;
}

.THIS.slds-docked-form-footer a img{
    height: 25px;
}