.THIS.container{
    width: 75%;
    margin: auto;
}

.THIS .slds-col{
    text-align: center;
    padding-right: 15%;
    padding-left: 15%;    
}

.THIS .slds-icon_container{
    width: 100%;
    height: 100px;
    padding-top: 20px;
    background-color: rgb(212, 42, 29);
}

.THIS .slds-button{
    width: 100%;
}