<template>
    
    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
        
        <div class="slds-modal__container">

            <template if:false={hideHeader}>
        
                <header class="slds-modal__header">
            
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
            
                        <lightning-icon icon-name="utility:close" size="small" onclick={cancel}></lightning-icon>
                    
                        <span class="slds-assistive-text">Close</span>
            
                    </button>
            
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">{modalTitle}</h2>
            
                </header>

            </template>
        
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">

                <slot>
                    
                </slot>
        
            </div>

            <template if:false={hideFooter}>
        
                <footer class="slds-modal__footer">

                    <template if:false={hideCancel}>
                        <button class="slds-button slds-button_neutral" onclick={cancel}>{cancelButtonLabel}</button>
                    </template>

                    <template if:false={hideSave}>
                        <button class="slds-button slds-button_brand" onclick={save}>{saveButtonLabel}</button>
                    </template>

                </footer>

            </template>
        
        </div>
        
    </section>

    <div class="slds-backdrop slds-backdrop_open"></div>    

</template>