<template>
    <div class="col-md-12">
        <div class="divider">
            <span></span>
            <span>or</span>
            <span></span>
        </div>
    </div>
    <div class="contactService">
        <a label="Request a Quote" onclick={goToContactUs} class="button btn1">
            Request a Quote
        </a>

        <a label="Request Service, Parts, or Support" onclick={goToRequestService} class="button btn1 button2">
            Request Service, Parts, or Support
        </a>
    </div>
</template>