.btn1{
    padding: 10px;
    flex: 1;
    border-radius: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #da1a32 !important;
    border: 1px solid #da1a32 !important;
}

.btn1:hover{
    background: none!important;
    color: #fff!important;
    background-color: #da1a32!important;
    text-decoration: none !important;
    cursor: pointer;
}
.button2{
    margin-left:10px;
}

.contactService{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.divider {
    margin-bottom: 0;
    display: table;
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin: 5 px auto;
}

.divider span:first-child{
    background-image: -webkit-gradient(linear,0 0,0 100%,from(transparent),to(#7c98b6));
    background-image: -webkit-linear-gradient(180deg,transparent,#7c98b6);
    background-image: linear-gradient(90deg,transparent,#7c98b6);
}

.divider span:last-child{
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#7c98b6),to(transparent));
    background-image: -webkit-linear-gradient(180deg,#7c98b6,transparent);
    background-image: linear-gradient(90deg,#7c98b6,transparent);
}



.divider span:first-child, .dvider span:last-child{
    width: 50%;
    top: 11px;
    -moz-background-size: 100% 2px;
    background-size: 100% 2px;
    background-position: 0 0,0 100%;
    background-repeat: no-repeat;
}