.THIS {
}

.THIS .tableBorder{
    border: 1px solid #e0d9d9;

}

/*.THIS .tableHeader{
    background-color: #41aef2;
    color: rgb(81, 79, 77); 
}*/

.THIS .tableHeader{
	/*background-color: #41aef2;*/
	/*color: rgb(81, 79, 77);	*/
	/*background-color: rgb(250, 250, 249);
	color:rgb(62, 62, 60);*/
    color: rgb(0, 57, 107);
    background-color: rgb(207, 235, 254);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight:400;
    font-size:12px;
    padding-top: 4px;
    padding-bottom: 4px;
}


.THIS .ft-10{
    font-size:10px;
}

.THIS .input-height{
    /*height: 10px;*/
}

.THIS .font-bold{
    font-weight: bold;
}

.THIS .uiInput--input.input{
    min-height: 10px;
    border:none;
}

.THIS .bs-10{
    padding-right:10px;
}