<!-- B2B Banner -->
<template>
    <lightning-carousel>
        <lightning-carousel-image
                lwc:if={banner1Url}
                src={banner1Url}
                alternative-text={altTextBanner1}
                href={urlBanner1}>
        </lightning-carousel-image>
        <lightning-carousel-image
                lwc:if={banner2Url}
                src={banner2Url}
                alternative-text={altTextBanner2}
                href={urlBanner2}>
        </lightning-carousel-image>
        <lightning-carousel-image
                lwc:if={banner3Url}
                src={banner3Url}
                alternative-text={altTextBanner3}
                href={urlBanner3}>
        </lightning-carousel-image>
    </lightning-carousel>
</template>