<template>

    <template if:true={isLoading}>

        <div>
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </div>

    </template>

    <template if:true={hasConnectedAssets}>

        <div class="slds-p-around_x-small">

            <lightning-card title="Helix Alarm Events" >

                <template if:false={hasRecords}>
                    No Helix alarm events found.
                </template>

                <div slot="actions">

                    <c-search-input 
                        onsearchtermchange={handleSearchTermChange}>
                    </c-search-input>
        
                </div>                  

                <template if:true={hasRecords}>

                    <div style="height: 300px;">

                        <lightning-datatable
                            key-field="id"
                            data={data}
                            columns={columns}
                            column-widths-mode="auto"
                            hide-checkbox-column
                            sorted-by="eventTimestamp"
                            sorted-direction="desc">
                        </lightning-datatable>                         

                    </div> 

                </template>
                
                <template if:true={showPaginator}>

                    <c-paginator 
                        page-size={pageSize}
                        total-record-count={totalRecordCount} 
                        show-first-page-button
                        show-last-page-button
                        onpagechange={handlePageChange}
                        onpagesizechange={handlePageSizeChange}>
                    </c-paginator>

                </template>                     
                    
            </lightning-card>

        </div>

    </template>

    <template if:false={hasConnectedAssets}>

        <c-c-t-s_-i-o-t_-site_-helix_-message record-id={recordId}></c-c-t-s_-i-o-t_-site_-helix_-message>

    </template>
    
</template>