<template>
    <div>
        <lightning-spinner lwc:if={showSpinner}></lightning-spinner>
    </div>
    <div class="slds-float_right slds-col_padded-around-medium">
        <lightning-button class="slds-m-top_small slds-col_padded-around-medium" onclick={handleCancel} label={labels.Cancel_merge}> </lightning-button>
        <lightning-button class="slds-m-top_small" onclick={handleMerge} variant="brand" label={labels.Merge_accounts}> </lightning-button>
    </div>
</template>