<template>
    <div class="spinner">
        <template if:true={isLoading}>
            <lightning-spinner alternative-text="Loading" variant="brand" size="medium">
            </lightning-spinner>
        </template>
        <template if:false={isLoading}>
            <lightning-datatable key-field="specName" data={rows} columns={columns} hide-checkbox-column="true"></lightning-datatable>
        </template>
        
    </div>
</template>