<template>
    <template if:true={loaderSpinner}>
        <lightning-spinner variant="brand" alternative-text="Loading..." size="medium"></lightning-spinner>
    </template>
    
<lightning-card border='0' title="My Team Business Relationship" icon-name="custom:custom15">

        <table  style="padding:2%;" border="1" class="slds-table slds-table_bordered slds-table_fixed-layout slds-table_resizable-cols">
            <thead>
                <tr  class="slds-line-height_reset slds-text-title_caps">
                    <th class="slds-is-resizable" scope="col">
                        <div style="text-wrap: wrap;margin-left:8%" class="slds-truncate" title="Account Name">
                          Account Name
                        </div>
                    </th>
                    <th class="slds-is-resizable" scope="col">
                        <div style="text-wrap: wrap;" class="slds-truncate" title="Account Type">
                         Account Type
                        </div>
                    </th>
                    <th class="slds-is-resizable" scope="col">
                        <div style="text-wrap: wrap;" class="slds-truncate" title="Account status">
                            Account status
                        </div>
                    </th>
                    <th class="slds-is-resizable" scope="col">
                        <div style="text-wrap: wrap;" class="slds-truncate" title="Shipping Address">
                            Shipping Address
                        </div>
                    </th>
                    <th class="slds-is-resizable" scope="col">
                        <div class="slds-truncate" title="BR number">
                           BR number
                        </div>
                    </th>
                     <th class="slds-is-resizable" scope="col">
                        <div class="slds-truncate" title="BR type">
                          BR type
                        </div>
                    </th>
                     <th class="slds-is-resizable" scope="col">
                        <div class="slds-truncate" title="BR owner">
                          BR owner
                        </div>
                    </th>
                     <th class="slds-is-resizable" scope="col">
                        <div class="slds-truncate" title="BR status">
                          BR status
                        </div>
                    </th>
                     <th class="slds-is-resizable" scope="col">
                        <div class="slds-truncate" title="Channel">
                           Channel
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <template if:true={accounts}>
                        <template for:each={accounts} for:item="Item">
                            <tr  key={Item.Id}>
                                <th scope="row" data-label="Name">
                                    <div class="slds-truncate" title={Item.AccountName}>
                                        <a style="text-wrap: wrap;" href={Item.AccountUrl}>{Item.AccountName}</a>
                                    </div>
                                </th>
                                <th scope="row" data-label="Name">
                                    <div class="slds-truncate" title={Item.AccountType}>{Item.AccountType}</div>
                                </th>
                                 <th scope="row" data-label="Name">
                                    <div class="slds-truncate" title={Item.AccountStatus}>{Item.AccountStatus}</div>
                                </th>
                                <th scope="row" data-label="Account Number">
                                    <div style="text-wrap: wrap;" class="slds-truncate" 
                                    title={Item.ShippingAddress}>{Item.ShippingAddress}</div>
                                </th>
                                 <th scope="row" data-label="Industry">
                                    <div class="slds-truncate" title={Item.BRnumber}>
                                        <a href={Item.BRUrl}>{Item.BRnumber}</a>
                                    </div>
                                </th>
                                <th scope="row" data-label="Industry">
                                    <div class="slds-truncate" title={Item.BRtype}>{Item.BRtype}</div>
                                </th>
                                <th scope="row" data-label="Phone">
                                    <div class="slds-truncate" title={Item.BRowner}>{Item.BRowner}</div>
                                </th>
                                <th scope="row" data-label="Phone">
                                    <div class="slds-truncate" title={Item.BRstatus}>{Item.BRstatus}</div>
                                </th>
                                <th scope="row" data-label="Phone">
                                    <div class="slds-truncate" title={Item.Channel}>{Item.Channel}</div>
                                </th>
                
                             </tr>
                  </template>
                </template>
            </tbody>
        </table>


        
        <template if:true={isDisplayNoRecords}>
                <div class="slds-align_absolute-center">
                    <br/>
                    No records found
                </div>
            </template>
        <br/>
         <br/>
          <br/>
        
        <div class="slds-align_absolute-left"  if:false={isPagenation} >
            <div class="slds-p-left_xx-small">
                <lightning-button label="View All Records"  
                onclick={handleViewRecordsAction} variant="brand" 
                icon-name="utility:forward" icon-position="right"
                name="View All Records"></lightning-button>
            </div>
        </div>
        <br/>
        <!-- div class="slds-align_absolute-center"  if:true={isPagenation}>
            <div class="slds-p-right_xx-small">

                <lightning-button label="Prev" disabled={isPrev} onclick={handlePagePrevAction} variant="brand" icon-name="utility:back" name="prev"></lightning-button>
            </div>
            <span class="slds-badge slds-badge_lightest">
                    {recordStart}-{recordEnd} of {totalRecords} | Page {pageNumber} of {totalPages}
                </span>
            <div class="slds-p-left_xx-small">
                <lightning-button label="Next" disabled={isNext} onclick={handlePageNextAction} variant="brand" icon-name="utility:forward" icon-position="right" name="next"></lightning-button>
            </div>
        </div -->


        <br/><br/>

</lightning-card>
 
</template>