.THIS.nav-container{
    background-color: rgb(212, 42, 29);
    margin-left: 12px;
    margin-right: 12px;
}

.THIS .nav-row{
    margin-left: auto;
    margin-right: auto;
}

.THIS .main-nav{
    display: flex;
    border: 1px solid #ae150a;
}

.THIS .main-nav li{
    border-right: 1px solid #ae150a;  
    position: relative;
    white-space: nowrap; 
    padding-top: 1%;     
    padding-bottom: 1%;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    font-family: 'Foundry Forms Sans ExtraBold' !important;
}

.THIS .main-nav li:first-of-type{
    border-left: 1px solid #ae150a;  
}

.THIS .main-nav li:hover{
    background-color: #ae150a;
}

.THIS .main-nav li.is-active{
    background-color: #c11f13;
}

.THIS .main-nav li a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer; 
}

/* Breadcrumbs */
.THIS.breadcrumbs-container{
    padding: 5px 5px 5px 12px;
}

.THIS .slds-breadcrumb a::before{
    color: rgb(204, 204, 204);
    padding: 3px;
    content: '\003E';
    left: -.25rem;    
}

.THIS .slds-breadcrumb a{
    font-size: 16px;
    padding-top: 1px;
    padding-right: 3px;
    text-decoration: none;
}

.THIS .home-icon{
    color: rgb(167, 33, 23);
    height: 20px;
}