.IR-Footer-v2 .mainFooter .mainFooterBackground {
    padding-top: 2em;
    border-top: 3px solid #d42a1d;
    padding-bottom: 0;
  }
  .IR-Footer-v2 .mainFooter .mainFooterBackground .footerNav {
    display: flex;
  }
  .IR-Footer-v2 .mainFooter .mainFooterBackground .footerNav .section {
    border-right: 1px solid #d3d3d3;
    padding-left: 20px;
  }
  .IR-Footer-v2 .mainFooter .mainFooterBackground .footerNav .section:first-child {
    padding-left: 0;
  }
  .IR-Footer-v2 .mainFooter .mainFooterBackground .footerNav .section:last-child {
    border-right: none;
  }
  .IR-Footer-v2 .mainFooter .mainFooterBackground .footerNav .listSelectableStyle {
    flex: 3;
  }
  .IR-Footer-v2 .mainFooter .mainFooterBackground .footerNav .listSelectableStyle ul {
    list-style-type: none;
    padding-left: 0;
  }
  .IR-Footer-v2 .mainFooter .mainFooterBackground .footerNav .listSelectableStyle ul .titleNoLink {
    font-size: 14px;
    color: #000;
    font-weight: 700;
  }
  .IR-Footer-v2 .mainFooter .mainFooterBackground .footerNav .listSelectableStyle ul li a {
    color: #d42a1d;
    clear: both;
    font-weight: 400;
    line-height: 1.45;
    font-size: 0.8em;
  }
  .IR-Footer-v2 .mainFooter .mainFooterBackground .footerNav .paddingTopLeft {
    padding-top: 3em;
    padding-left: 25px;
  }
  .IR-Footer-v2 .mainFooter .mainFooterBackground .footerNav .paddingTopLeft:first-child {
    padding-left: 0;
  }
  .IR-Footer-v2 .mainFooter .mainFooterBackground .footerDropdown {
    margin-bottom: 1em;
  }
  .IR-Footer-v2 .mainFooter .mainFooterBackground .footerDropdown .footerDropdownButton {
    width: 100%;
    text-align: left;
    border-radius: 0;
  }
  @media (min-width: 320px) and (max-width: 768px) {
    .IR-Footer-v2 .mainFooter .mainFooterBackground .footerDropdown .footerDropdownButton {
      padding: 0.9em;
      background: #fff;
      text-transform: none;
      color: #d42a1d;
      font-weight: 700;
      border: #ccc solid 1px;
      text-transform: uppercase;
    }
  }
  .IR-Footer-v2 .mainFooter .mainFooterBackground .footerDropdown .footerDropdownButton .arrowDown {
    float: right;
    font-size: 18px;
  }
  .IR-Footer-v2 .mainFooter .mainFooterBackground .footerDropdown .footerDropdownMenu {
    width: 100%;
  }
  .IR-Footer-v2 .mainFooter .mainFooterBackground .footerDropdown .footerDropdownMenu .dropdownLink {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 16px;
  }
  .IR-Footer-v2 .mainFooter .mainFooterBackground .bgImg {
    height: 250px;
  }
  .IR-Footer-v2 .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }/*# sourceMappingURL=design.css.map */
  
  /*overide all.css driven by asset fields these values*/
  .ingersollRandFooter .localFooter .footerBackground {
    padding-top: 2em;
    padding-bottom: 3em;
    background: none;
    border-top: none;
  }