<template>
    <div class="ingersollRandFooter">
        <div class="upperFooter">
            <div class="container">
                <div class="2ColumnLayout">
                    <div class="container">
                        <div class="row">
                            <div class="hidden-xs hidden-sm col-md-7">
                                <div class=" ">
                                    <div class="container-max-width">
                                        <div class="container">
                                            <div class="html-content">
                                                <div class="row">
                                                    <div class="col-sm-8 col-md-12 col-xs-12">
                                                        <div class="htmlFooterContent">
                                                            <p class="footerTitle">
                                                                <span style="color: #33475b;"></span>
                                                            </p>
                                                            <p class="footerContent">
                                                                <span style="color: #33475b;"></span></p><div class="htmlFooterContent"><img alt="Welch Vacuum logo"  height="55" media="" src={welchLogoWhite} width="142">
    <p class="footerTitle">About Welch Vacuum</p>
    
    <p class="footerContent">Welch is a recognized provider of vacuum pumps, systems, and fittings for industrial, life sciences, and laboratory applications. We design, manufacture, and deliver products meeting the strictest requirements for mission-critical applications, and provide a comprehensive offering of products and great engineering capabilities to fit our customers’ needs.</p>
    
    <p class="footerContent">As a reliable and trusted partner for OEMs, we stand up to the challenge of supplying best-in-class products and solutions on time to manufacturers of equipment in the life sciences, healthcare, and industrial segments.</p>
    
    <p class="footerContent"><a href="https://goo.gl/maps/Pv96vf9suE9SCHQx7" style="color: #fff; text-decoration: none;" target="_blank">1601 Feehanville Drive, Suite 550, Mt. Prospect, IL 60056, USA</a> | <a data-gtm="Phone_CallUsButton" href="tel:+18476768800 " style="color: #fff; text-decoration: none;">+1 847 676 8800</a></p>
    
    <p class="footerContent"><a href={AboutUs} linktype="scs-link-sitepage" siteid="welch" target="_self"><span style="text-decoration: underline; color: #da1a32;">Learn more about WELCH</span></a></p>
    
    <p class="footerContent"><a href="https://www.welchvacuum.com/en/modals/contact?returnUrl=https%3A%2F%2Fshop.welchvacuum.com%2Fs%2Fabout-us" linktype="scs-link-sitepage" siteid="welch" target="_self"><span style="text-decoration: underline; color: #da1a32;">Contact Us</span></a></p>
    </div>
    
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="linkList">
                                    <div class="linksContainer">
                                        <!-- <a href=".&#x2F;/en-pl/industries-served/aerospace" class="redLink">Aerospace</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-4">
                                <div class="footerLinksList container-max-width">
                                </div>
                                <div class="socialLinks container-max-width">
                                    <div class="socialLinksWrapper">
                                        <span>FOLLOW US</span>
                                        <div class="socialLinks">
                                                <a class="brandcolor sociallink" href="https://www.linkedin.com/showcase/gardner-denver-medical-group" title="" target="">
                                                    <picture>
                                                        <img src={welchLinkendinLogo} class="img-responsive" alt="Welch on LinkedIn" width="30" height="29">
                                                    </picture>
                                                </a>
                                                <a class="brandcolor sociallink" href="https://www.youtube.com/channel/UCUQOjkmDMJG__K1n6L_jiOQ" title="" target="">
                                                    <picture>
                                                        <img src={welchYoutubeLogo} class="img-responsive" alt="Welch on YouTube" width="30" height="29">
                                                    </picture>
                                                </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="localFooter">
            <div class="footerBackground" style={footerBackgroudStyle}>
                    <div class="container">
                        <div class="row xs-hidden">
                            <div class="col-md-12 hidden-xs">
                                <div class="list-dropdown">
                                    <div class="dropdown-full-width footerNav">  
                                        <div class="listSelectableStyle section">
                                            <div class="full-width-section__content">
                                                <div class="dropdown-full-width">
                                                    <ul class="">
                                                        <li class="titleNoLink">Our Products Lines</li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.welchvacuum.com/en-us/rotary-vane-pumps" linktype="" siteid="" target="">Rotary Vane Pumps</a>
                                                                </li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.welchvacuum.com/en-us/piston-pumps" linktype="" siteid="" target="">WOB-L Piston Pumps</a>
                                                                </li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.welchvacuum.com/en-us/diaphragm-pumps" linktype="" siteid="" target="">Diaphragm Pumps</a>
                                                                </li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.welchvacuum.com/en-us/fluid-aspiration-system" linktype="" siteid="" target="">Fluid Aspiration Systems</a>
                                                                </li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.welchvacuum.com/en-us/gauges-and-controllers" linktype="" siteid="" target="">Gauges And Controllers</a>
                                                                </li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.welchvacuum.com/en-us/vacuum-pump-accessories" linktype="" siteid="" target="">Vacuum Pump Accessories</a>
                                                                </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="listSelectableStyle section">
                                            <div class="full-width-section__content">
                                                <div class=" dropdown-full-width">
                                                    <ul class="">
                                                        <li class="titleNoLink">Featured Markets and Applications</li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.welchvacuum.com/en-us/applications/vacuum-oven" linktype="" siteid="" target="">Vacuum Oven</a>
                                                                </li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.welchvacuum.com/en-us/applications/freeze-dryer" linktype="" siteid="" target="">Freeze Dryer</a>
                                                                </li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.welchvacuum.com/en-us/applications/vacuum-filtration" linktype="" siteid="" target="">Vacuum Filtration</a>
                                                                </li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.welchvacuum.com/en-us/hvac-vacuum-pumps" linktype="" siteid="" target="">Refrigeration Pumps</a>
                                                                </li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.welchvacuum.com/en-us/applications/vacuum-manifold" linktype="" siteid="" target="">Vacuum Manifold</a>
                                                                </li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.welchvacuum.com/en-us/applications/glove-box" linktype="" siteid="" target="">Glove Box</a>
                                                                </li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.welchvacuum.com/en-us/applications/vacuum-distillation" linktype="" siteid="" target="">Vacuum Distillation</a>
                                                                </li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.welchvacuum.com/en-us/applications" linktype="" siteid="" target="">Applications</a>
                                                                </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="listSelectableStyle section">
                                            <div class="full-width-section__content">
                                                <div class=" dropdown-full-width">
                                                    <ul class="">
                                                        <li class="titleNoLink">Resource Center</li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.welchvacuum.com/en-us/about-us/news" linktype="" siteid="" target="">News</a>
                                                                </li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.welchvacuum.com/en-us/about-us/downloads" linktype="" siteid="" target="">Downloads Center</a>
                                                                </li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.welchvacuum.com/en-us/modals/subscription" linktype="scs-link-sitepage" siteid="welch" target="_self">Newsletter</a>
                                                                </li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href={ReturnPolicy} linktype="scs-link-sitepage" siteid="welch" target="_self">Return Policy</a>
                                                                </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="listSelectableStyle section">
                                            <div class="full-width-section__content">
                                                <div class=" dropdown-full-width">
                                                    <ul class="">
                                                        <li class="titleNoLink">Our Other Brands</li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.gardnerdenver.com/tricontinent" linktype="" siteid="" target="">TriContinent</a>
                                                                </li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.airdimensions.com/" linktype="" siteid="" target="_self">Air Dimensions Inc. (ADI)</a>
                                                                </li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.gardnerdenver.com/zinsseranalytic" linktype="" siteid="" target="">Zinsser Analytic</a>
                                                                </li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.gardnerdenver.com/microsyringes" linktype="" siteid="" target="">ILS Microsyringes</a>
                                                                </li>
                                                                <li>
                                                                    <a class="footerLink js-footerLink brandcolor" href="https://www.thomaspumps.com" linktype="" siteid="" target="_self">Thomas</a>
                                                                </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 hidden-xs" style="margin-bottom:20px">
                                <div class="list-dropdown">
                                    <div class="dropdown-full-width footerNav">  
                                            <div class="listSelectableStyle section">
                                                <div class="full-width-section__content">
                                                    <div class=" dropdown-full-width">
                                                        <ul class="">
                                                            <li class="titleNoLink"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="listSelectableStyle section">
                                                <div class="full-width-section__content">
                                                    <div class=" dropdown-full-width">
                                                        <ul class="">
                                                            <li class="titleNoLink"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="listSelectableStyle section">
                                                <div class="full-width-section__content">
                                                    <div cl ass=" dropdown-full-width">
                                                        <ul class="">
                                                            <li class="titleNoLink"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="listSelectableStyle section">
                                                <div class="full-width-section__content">
                                                    <div class=" dropdown-full-width">
                                                        <ul class="">
                                                            <li class="titleNoLink"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row xs-hidden">
                            <div class="hidden-xs col-md-6">
                                <div class="footerNav">
                                    <div class="listSelectableStyle paddingTopLeft">
                                        <div class="full-width-section__content">
                                            <div class=" dropdown-full-width">
                                                <ul class="">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="listSelectableStyle paddingTopLeft">
                                        <div class="full-width-section__content">
                                            <div class=" dropdown-full-width">
                                                <ul class="">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row  hidden-sm hidden-md hidden-lg">
                            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">  
                                <div class="dropdown footerDropdown">
                                    <button class="btn btn-default dropdown-toggle footerDropdownButton" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Our Products Lines
                                        <i class="fas fa-caret-down arrowDown"></i>
                                    </button>
                                    <ul class="dropdown-menu footerDropdownMenu" aria-labelledby="dropdownMenu1">
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="./rotary-vane-pumps" linktype="" siteid="" target="">Rotary Vane Pumps</a>
                                                    </li>
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="./piston-pumps" linktype="" siteid="" target="">WOB-L Piston Pumps</a>
                                                    </li>
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="./diaphragm-pumps" linktype="" siteid="" target="">Diaphragm Pumps</a>
                                                    </li>
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="./fluid-aspiration-system" linktype="" siteid="" target="">Fluid Aspiration Systems</a>
                                                    </li>
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="./gauges-and-controllers" linktype="" siteid="" target="">Gauges And Controllers</a>
                                                    </li>
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="./vacuum-pump-accessories" linktype="" siteid="" target="">Vacuum Pump Accessories</a>
                                                    </li>
                                    </ul>
                                </div>
                                <div class="dropdown footerDropdown">
                                    <button class="btn btn-default dropdown-toggle footerDropdownButton" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Featured Markets and Applications
                                        <i class="fas fa-caret-down arrowDown"></i>
                                    </button>
                                    <ul class="dropdown-menu footerDropdownMenu" aria-labelledby="dropdownMenu1">
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="./applications/vacuum-oven" linktype="" siteid="" target="">Vacuum Oven</a>
                                                    </li>
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="./applications/freeze-dryer" linktype="" siteid="" target="">Freeze Dryer</a>
                                                    </li>
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="./applications/vacuum-filtration" linktype="" siteid="" target="">Vacuum Filtration</a>
                                                    </li>
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="./hvac-vacuum-pumps" linktype="" siteid="" target="">Refrigeration Pumps</a>
                                                    </li>
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="./applications/vacuum-manifold" linktype="" siteid="" target="">Vacuum Manifold</a>
                                                    </li>
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="./applications/glove-box" linktype="" siteid="" target="">Glove Box</a>
                                                    </li>
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="./applications/vacuum-distillation" linktype="" siteid="" target="">Vacuum Distillation</a>
                                                    </li>
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="./applications" linktype="" siteid="" target="">Applications</a>
                                                    </li>
                                    </ul>
                                </div>
                                <div class="dropdown footerDropdown">
                                    <button class="btn btn-default dropdown-toggle footerDropdownButton" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Resource Center
                                        <i class="fas fa-caret-down arrowDown"></i>
                                    </button>
                                    <ul class="dropdown-menu footerDropdownMenu" aria-labelledby="dropdownMenu1">
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="./about-us/news" linktype="" siteid="" target="">News</a>
                                                    </li>
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="./about-us/downloads" linktype="" siteid="" target="">Downloads Center</a>
                                                    </li>
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="./modals/subscription" linktype="scs-link-sitepage" siteid="welch" target="_self">Newsletter</a>
                                                    </li>
                                    </ul>
                                </div>
                                <div class="dropdown footerDropdown">
                                    <button class="btn btn-default dropdown-toggle footerDropdownButton" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Our Other Brands
                                        <i class="fas fa-caret-down arrowDown"></i>
                                    </button>
                                    <ul class="dropdown-menu footerDropdownMenu" aria-labelledby="dropdownMenu1">
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="https://www.gardnerdenver.com/tricontinent" linktype="" siteid="" target="">TriContinent</a>
                                                    </li>
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="https://www.airdimensions.com/" linktype="" siteid="" target="_self">Air Dimensions Inc. (ADI)</a>
                                                    </li>
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="https://www.gardnerdenver.com/zinsseranalytic" linktype="" siteid="" target="">Zinsser Analytic</a>
                                                    </li>
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="https://www.gardnerdenver.com/microsyringes" linktype="" siteid="" target="">ILS Microsyringes</a>
                                                    </li>
                                                    <li class="dropdownLink">
                                                        <a class="footerLink js-footerLink brandcolor" href="https://www.thomaspumps.com" linktype="" siteid="" target="_self">Thomas</a>
                                                    </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--div style="">
                        &nbsp;					
                    </div-->	
                </div>
            </div>
            <div class="corporateFooter">
                <div class="footerBrands">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-sm-8">
                                <div class="footerHtmlContentLeft">
                                     <p><span style="font-size:16px;"><em><a href="https://www.irco.com/brands" style="color: white; text-decoration:none;">Explore our family of brands</a></em></span></p>
    
    <p>&nbsp;</p>
    
    <p><span style="font-size:14px;">© Ingersoll Rand, is a diverse and inclusive environment. We are an equal opportunity employer and are dedicated to hiring qualified protected veterans and individuals with disabilities.</span></p>
    
    <p>&nbsp;</p>
    
    <p><span style="font-size:16px;"><a href="https://www.irco.com/terms" style="color: white; text-decoration:none;" target="_blank">Privacy Policy</a></span></p>
    
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="corporate-footer__logo">
                                    <div class="logo__content">
                                        <a href="https://www.irco.com/" class="image" target="_blank">
                                                    <img alt="Ingersoll Rand logo" src={welchIngresollFooterLogo} />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</template>