li,
p {
    font-size: 17px;
    line-height: 1.625;
    color: #33475b
}

p {
    margin: 0 0 10px
}

.footerLinksList .footerLinksContainer .footerLinkDark {
  position: relative;
  display: block;
  margin-bottom: 0.5em;
  color: #fff;
  padding: 1.0625em 0.9375em 1em 1.25em;
  background-color: #222;
  text-align: left;
  text-transform: uppercase;
}
.footerLinksList .footerLinksContainer .footerLinkDark .footerLinkArrow {
  float: right;
  margin-top: -0.125em;
  font-size: 1.625em;
  color: #828080;
}

.ingersollRandFooter .upperFooter {
  background-color: #111;
  padding-top: 2em;
  padding-bottom: 2em
}

@media(min-width:320px) and (max-width:768px) {
  .ingersollRandFooter .upperFooter {
      background: url(/Images/allsites/body-bg.jpg) bottom center repeat
  }
}

.ingersollRandFooter .upperFooter .container {
  padding-left: 10px;
  padding-right: 10px
}

@media(min-width:992px) {
  .ingersollRandFooter .upperFooter .container {
      padding-left: 15px
  }
}

.ingersollRandFooter .upperFooter .container-max-width {
  overflow: visible
}

.ingersollRandFooter .upperFooter .col-md-12 {
  padding-left: 0
}

.ingersollRandFooter .upperFooter .col-md-7 {
  padding-left: 0
}

.ingersollRandFooter .upperFooter .htmlFooterContent {
  padding-left: 0
}

.ingersollRandFooter .upperFooter .htmlFooterContent .footerTitle {
  font-size: 1em;
  text-transform: uppercase;
  color: #fff
}

.ingersollRandFooter .upperFooter .htmlFooterContent .footerContent {
  color: #828080;
  font-size: .8125rem/* original value.8em*/
}

.ingersollRandFooter .localFooter .footerBackground {
  padding-top: 2em;
  border-top: 3px solid #d42a1d;
  padding-bottom: 3em;
  background: url(./images/body-bg.jpg) bottom center repeat
}

.ingersollRandFooter .localFooter .footerBackground .irWave {
  height: 250px;
  background: url('resource/welch_footer_waves') bottom center no-repeat
}

@media(min-width:320px) and (max-width:768px) {
  .ingersollRandFooter .localFooter .footerBackground .irWave {
      height: 160px
  }
}

.ingersollRandFooter .localFooter .footerBackground .container {
  padding-left: 15px;
  padding-right: 15px
}

.ingersollRandFooter .localFooter .footerBackground .footerDropdown {
  margin-bottom: 1em
}

.ingersollRandFooter .localFooter .footerBackground .footerDropdown .footerDropdownButton {
  width: 100%;
  text-align: left;
  border-radius: 0
}

@media(min-width:320px) and (max-width:768px) {
  .ingersollRandFooter .localFooter .footerBackground .footerDropdown .footerDropdownButton {
      padding: .9em;
      background: #fff;
      text-transform: none;
      color: #d42a1d;
      font-weight: 700;
      border: 1px solid #ccc;
      text-transform: uppercase
  }
}

@media(min-width:768px) and (max-width:768px) {
  .ingersollRandFooter .localFooter .footerBackground .footerDropdown .footerDropdownButton {
      border: 1px solid #ccc !important
  }
}

.ingersollRandFooter .localFooter .footerBackground .footerDropdown .footerDropdownButton .arrowDown {
  float: right;
  font-size: 18px
}

.ingersollRandFooter .localFooter .footerBackground .footerDropdown .footerDropdownMenu {
  width: 100%
}

.ingersollRandFooter .localFooter .footerBackground .footerDropdown .footerDropdownMenu .dropdownLink {
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: 16px
}

.ingersollRandFooter .localFooter .footerBackground .footerNav {
  display: flex
}

.ingersollRandFooter .localFooter .footerBackground .footerNav .section {
  border-right: 1px solid #d3d3d3;
  padding-left: 20px
}

.ingersollRandFooter .localFooter .footerBackground .footerNav .section:last-child {
  border-right: none
}

.ingersollRandFooter .localFooter .footerBackground .footerNav .section:first-child {
  padding-left: 0
}

.ingersollRandFooter .localFooter .footerBackground .footerNav .paddingTopLeft {
  padding-top: 3em;
  padding-left: 25px
}

.ingersollRandFooter .localFooter .footerBackground .footerNav .paddingTopLeft:first-child {
  padding-left: 0
}

.ingersollRandFooter .localFooter .footerBackground .footerNav .listSelectableStyle {
  flex: 3
}

.ingersollRandFooter .localFooter .footerBackground .footerNav .listSelectableStyle ul {
  list-style-type: none;
  padding-left: 0
}

.ingersollRandFooter .localFooter .footerBackground .footerNav .listSelectableStyle ul .titleNoLink {
  font-size: 14px;
  color: #000;
  font-weight: 700
}

.ingersollRandFooter .localFooter .footerBackground .footerNav .listSelectableStyle ul .contentNoLink {
  font-size: 12px
}

.ingersollRandFooter .localFooter .footerBackground .footerNav .listSelectableStyle ul li a {
  color: #d42a1d;
  clear: both;
  font-weight: 400;
  line-height: 1.45;
  font-size: .8em
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px
}

@media (min-width:768px) {
  .container {
      width: 750px
  }
}

@media (min-width:992px) {
  .container {
      width: 970px
  }
}

@media (min-width:1200px) {
  .container {
      width: 1170px
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px
}

.row {
  margin-left: -15px;
  margin-right: -15px
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left
}

.col-xs-12 {
  width: 100%
}

.col-xs-11 {
  width: 91.66666667%
}

.col-xs-10 {
  width: 83.33333333%
}

.col-xs-9 {
  width: 75%
}

.col-xs-8 {
  width: 66.66666667%
}

.col-xs-7 {
  width: 58.33333333%
}

.col-xs-6 {
  width: 50%
}

.col-xs-5 {
  width: 41.66666667%
}

.col-xs-4 {
  width: 33.33333333%
}

.col-xs-3 {
  width: 25%
}

.col-xs-2 {
  width: 16.66666667%
}

.col-xs-1 {
  width: 8.33333333%
}

@media (min-width:768px) {

  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
      float: left
  }

  .col-sm-12 {
      width: 100%
  }

  .col-sm-11 {
      width: 91.66666667%
  }

  .col-sm-10 {
      width: 83.33333333%
  }

  .col-sm-9 {
      width: 75%
  }

  .col-sm-8 {
      width: 66.66666667%;
  }

  .col-sm-7 {
      width: 58.33333333%
  }

  .col-sm-6 {
      width: 50%
  }

  .col-sm-5 {
      width: 41.66666667%
  }

  .col-sm-4 {
      width: 33.33333333%
  }

  .col-sm-3 {
      width: 25%
  }

  .col-sm-2 {
      width: 16.66666667%
  }

  .col-sm-1 {
      width: 8.33333333%
  }

  .col-sm-pull-12 {
      right: 100%
  }

  .col-sm-pull-11 {
      right: 91.66666667%
  }

  .col-sm-pull-10 {
      right: 83.33333333%
  }

  .col-sm-pull-9 {
      right: 75%
  }

  .col-sm-pull-8 {
      right: 66.66666667%
  }

  .col-sm-pull-7 {
      right: 58.33333333%
  }

  .col-sm-pull-6 {
      right: 50%
  }

  .col-sm-pull-5 {
      right: 41.66666667%
  }

  .col-sm-pull-4 {
      right: 33.33333333%
  }

  .col-sm-pull-3 {
      right: 25%
  }

  .col-sm-pull-2 {
      right: 16.66666667%
  }

  .col-sm-pull-1 {
      right: 8.33333333%
  }

  .col-sm-pull-0 {
      right: auto
  }

  .col-sm-push-12 {
      left: 100%
  }

  .col-sm-push-11 {
      left: 91.66666667%
  }

  .col-sm-push-10 {
      left: 83.33333333%
  }

  .col-sm-push-9 {
      left: 75%
  }

  .col-sm-push-8 {
      left: 66.66666667%
  }

  .col-sm-push-7 {
      left: 58.33333333%
  }

  .col-sm-push-6 {
      left: 50%
  }

  .col-sm-push-5 {
      left: 41.66666667%
  }

  .col-sm-push-4 {
      left: 33.33333333%
  }

  .col-sm-push-3 {
      left: 25%
  }

  .col-sm-push-2 {
      left: 16.66666667%
  }

  .col-sm-push-1 {
      left: 8.33333333%
  }

  .col-sm-push-0 {
      left: auto
  }

  .col-sm-offset-12 {
      margin-left: 100%
  }

  .col-sm-offset-11 {
      margin-left: 91.66666667%
  }

  .col-sm-offset-10 {
      margin-left: 83.33333333%
  }

  .col-sm-offset-9 {
      margin-left: 75%
  }

  .col-sm-offset-8 {
      margin-left: 66.66666667%
  }

  .col-sm-offset-7 {
      margin-left: 58.33333333%
  }

  .col-sm-offset-6 {
      margin-left: 50%
  }

  .col-sm-offset-5 {
      margin-left: 41.66666667%
  }

  .col-sm-offset-4 {
      margin-left: 33.33333333%
  }

  .col-sm-offset-3 {
      margin-left: 25%
  }

  .col-sm-offset-2 {
      margin-left: 16.66666667%
  }

  .col-sm-offset-1 {
      margin-left: 8.33333333%
  }

  .col-sm-offset-0 {
      margin-left: 0
  }
}

@media (min-width:992px) {

  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
      float: left;
  }

  .col-md-12 {
      width: 100%
  }

  .col-md-11 {
      width: 91.66666667%
  }

  .col-md-10 {
      width: 83.33333333%
  }

  .col-md-9 {
      width: 75%
  }

  .col-md-8 {
      width: 66.66666667%
  }

  .col-md-7 {
      width: 58.33333333%
  }

  .col-md-6 {
      width: 50%
  }

  .col-md-5 {
      width: 41.66666667%
  }

  .col-md-4 {
       width: 33.33333333%; 
  }

  .col-md-3 {
      width: 25%
  }

  .col-md-2 {
      width: 16.66666667%
  }

  .col-md-1 {
      width: 8.33333333%
  }

  .col-md-pull-12 {
      right: 100%
  }

  .col-md-pull-11 {
      right: 91.66666667%
  }

  .col-md-pull-10 {
      right: 83.33333333%
  }

  .col-md-pull-9 {
      right: 75%
  }

  .col-md-pull-8 {
      right: 66.66666667%
  }

  .col-md-pull-7 {
      right: 58.33333333%
  }

  .col-md-pull-6 {
      right: 50%
  }

  .col-md-pull-5 {
      right: 41.66666667%
  }

  .col-md-pull-4 {
      right: 33.33333333%
  }

  .col-md-pull-3 {
      right: 25%
  }

  .col-md-pull-2 {
      right: 16.66666667%
  }

  .col-md-pull-1 {
      right: 8.33333333%
  }

  .col-md-pull-0 {
      right: auto
  }

  .col-md-push-12 {
      left: 100%
  }

  .col-md-push-11 {
      left: 91.66666667%
  }

  .col-md-push-10 {
      left: 83.33333333%
  }

  .col-md-push-9 {
      left: 75%
  }

  .col-md-push-8 {
      left: 66.66666667%
  }

  .col-md-push-7 {
      left: 58.33333333%
  }

  .col-md-push-6 {
      left: 50%
  }

  .col-md-push-5 {
      left: 41.66666667%
  }

  .col-md-push-4 {
      left: 33.33333333%
  }

  .col-md-push-3 {
      left: 25%
  }

  .col-md-push-2 {
      left: 16.66666667%
  }

  .col-md-push-1 {
      left: 8.33333333%
  }

  .col-md-push-0 {
      left: auto
  }

  .col-md-offset-12 {
      margin-left: 100%
  }

  .col-md-offset-11 {
      margin-left: 91.66666667%
  }

  .col-md-offset-10 {
      margin-left: 83.33333333%
  }

  .col-md-offset-9 {
      margin-left: 75%
  }

  .col-md-offset-8 {
      margin-left: 66.66666667%
  }

  .col-md-offset-7 {
      margin-left: 58.33333333%
  }

  .col-md-offset-6 {
      margin-left: 50%
  }

  .col-md-offset-5 {
      margin-left: 41.66666667%
  }

  .col-md-offset-4 {
      margin-left: 33.33333333%
  }

  .col-md-offset-3 {
      margin-left: 25%
  }

  .col-md-offset-2 {
      margin-left: 16.66666667%
  }

  .col-md-offset-1 {
      margin-left: 8.33333333%
  }

  .col-md-offset-0 {
      margin-left: 0
  }
}

@media (min-width:1200px) {

  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
      float: left
  }

  .col-lg-12 {
      width: 100%
  }

  .col-lg-11 {
      width: 91.66666667%
  }

  .col-lg-10 {
      width: 83.33333333%
  }

  .col-lg-9 {
      width: 75%
  }

  .col-lg-8 {
      width: 66.66666667%
  }

  .col-lg-7 {
      width: 58.33333333%
  }

  .col-lg-6 {
      width: 50%
  }

  .col-lg-5 {
      width: 41.66666667%
  }

  .col-lg-4 {
      width: 33.33333333%
  }

  .col-lg-3 {
      width: 25%
  }

  .col-lg-2 {
      width: 16.66666667%
  }

  .col-lg-1 {
      width: 8.33333333%
  }

  .col-lg-pull-12 {
      right: 100%
  }

  .col-lg-pull-11 {
      right: 91.66666667%
  }

  .col-lg-pull-10 {
      right: 83.33333333%
  }

  .col-lg-pull-9 {
      right: 75%
  }

  .col-lg-pull-8 {
      right: 66.66666667%
  }

  .col-lg-pull-7 {
      right: 58.33333333%
  }

  .col-lg-pull-6 {
      right: 50%
  }

  .col-lg-pull-5 {
      right: 41.66666667%
  }

  .col-lg-pull-4 {
      right: 33.33333333%
  }

  .col-lg-pull-3 {
      right: 25%
  }

  .col-lg-pull-2 {
      right: 16.66666667%
  }

  .col-lg-pull-1 {
      right: 8.33333333%
  }

  .col-lg-pull-0 {
      right: auto
  }

  .col-lg-push-12 {
      left: 100%
  }

  .col-lg-push-11 {
      left: 91.66666667%
  }

  .col-lg-push-10 {
      left: 83.33333333%
  }

  .col-lg-push-9 {
      left: 75%
  }

  .col-lg-push-8 {
      left: 66.66666667%
  }

  .col-lg-push-7 {
      left: 58.33333333%
  }

  .col-lg-push-6 {
      left: 50%
  }

  .col-lg-push-5 {
      left: 41.66666667%
  }

  .col-lg-push-4 {
      left: 33.33333333%
  }

  .col-lg-push-3 {
      left: 25%
  }

  .col-lg-push-2 {
      left: 16.66666667%
  }

  .col-lg-push-1 {
      left: 8.33333333%
  }

  .col-lg-push-0 {
      left: auto
  }

  .col-lg-offset-12 {
      margin-left: 100%
  }

  .col-lg-offset-11 {
      margin-left: 91.66666667%
  }

  .col-lg-offset-10 {
      margin-left: 83.33333333%
  }

  .col-lg-offset-9 {
      margin-left: 75%
  }

  .col-lg-offset-8 {
      margin-left: 66.66666667%
  }

  .col-lg-offset-7 {
      margin-left: 58.33333333%
  }

  .col-lg-offset-6 {
      margin-left: 50%
  }

  .col-lg-offset-5 {
      margin-left: 41.66666667%
  }

  .col-lg-offset-4 {
      margin-left: 33.33333333%
  }

  .col-lg-offset-3 {
      margin-left: 25%
  }

  .col-lg-offset-2 {
      margin-left: 16.66666667%
  }

  .col-lg-offset-1 {
      margin-left: 8.33333333%
  }

  .col-lg-offset-0 {
      margin-left: 0
  }
}


.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.row:after,
.row:before {
    content: " ";
    display: table
}

.container-fluid:after,
.container:after,
.row:after {
    clear: both
}

*,
:after,
:before {
    box-sizing: border-box
}

.socialLinks .socialLinksWrapper span {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1em;
  display: block;
  font-size: 1em
}

@media (min-width:320px) and (max-width:768px) {
  .socialLinks .socialLinksWrapper span {
      color: #111;
      font-weight: 700
  }
}

.socialLinks .socialLinksWrapper .socialLinks .sociallink {
  border-radius: .25rem;
  display: inline-block;
  overflow: hidden;
  float: left;
  margin-right: 10px
}

.scs-default-layout {
	font-family: 'Helvetica Neue', 'Segoe UI', sans-serif-regular, Helvetica, Arial;
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-style: normal;
	color: #333;
}

.scs-default-layout li {
 	font-size: 14px;
	font-style: normal;
	font-variant-caps: normal;
	color: #333;
	font-weight: 200;
	margin: 0 0 1em;
}
.scs-default-layout h1 {
	font-size: 24px;
	color: #333;
	margin: 0;
	font-weight: 300;
}
.scs-default-layout img {
	width: auto;
	margin: 0;
	border-radius: 3px;
}
.scs-defualt-layout h2 {
	font-size: 18px;
	margin: 0;
}
.scs-default-layout p {
	margin: 0;
}.sl-horizontal-row {
	display: flex;
}

.sl-horizontal-item {
	background-color: transparent;
	flex: 1;
}

.sl-slider {
	-ms-overflow-x: hidden;
	overflow-x: hidden;

	position: relative;
	top: 0px;
	left: 0px;

	width: 100%;
}

/**
 * Stretch the component group in each slide, so that the background fills the slide.
 */
.sl-slider-page,
.sl-slider-page > .scs-componentgroup,
.sl-slider-page > .scs-componentgroup > .scs-container-styles,
.sl-slider-page > .scs-componentgroup > .scs-container-styles > .scs-component-content {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: auto;
	height: auto;
}

/**
 * Allow vertical scrollbar in component group
 */
.sl-slider-page > .scs-componentgroup > .scs-container-styles > .scs-component-content {
	overflow-y: auto;
}

.sl-slider-buttons-wrapper {
	margin-left: 50%;
	position: absolute;
	bottom: 10%;
	z-index: 2;
}

.sl-slider-buttons {
	text-align: center;
	list-style-type: none;
	margin: 0 0 0 -100%;
	padding: 0;
}

.sl-slider-button {
    position: relative;
    display: inline-block;
    text-align: center;
	margin: 0 .25em 0 .25em;

	width: 12px;
	height: 12px;
	background-color: #d7d7d7;
	border-radius: 50%;
	cursor: pointer;
}
.sl-slider-button > a {
    text-decoration: none;
    outline: 0;
    border: 0;
    -moz-outline-style: none;	
    white-space: nowrap;
}
.sl-slider-button.sl-slider-active-button {
	background-color: #6a6a6a;
}

.sl-slider-button > a {
	text-decoration: none;
}

.sl-slider-button > a:link,
.sl-slider-button > a:hover,
.sl-slider-button > a:active,
.sl-slider-button > a:visited {
	text-decoration: none;
}

.sl-slider-button > a > span {
	display: none;
}
.sl-slider-arrow {
	position: absolute;
	top: 50%;
	margin-top: -28px;
	z-index: 2;
	display: block;
	width: 42px;
	height: 55px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 4px;
	overflow: hidden;
}
/* ico-nav-left.svg, neutral-30 */
.sl-slider-arrow-left {
	left: 8px;
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.414 12l7.293-7.293-1.414-1.414L6.586 12l8.707 8.707 1.414-1.414L9.414 12z' fill='%23f1efed'/%3E%3C/svg%3E");
}
/* ico-nav-right.svg, neutral-30 */
.sl-slider-arrow-right {
	right: 8px;
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707 14.586 12z' fill='%23f1efed'/%3E%3C/svg%3E");
}
.sl-slider-arrow-left:hover,
.sl-slider-arrow-right:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.sl-blocking-div {
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
}

@media screen and (max-width: 767px) 
{
	.scs-slot.scs-responsive .sl-slider .scs-component-container
	{
		box-sizing: border-box;
	}
}
/**
 * Outside border
 */

.sl-tabs {
	border-radius: 0px;
}


/**
 * Tabs container (UL)
 */

.sl-tabs>ul {
	padding: 3px 4px 0px 4px;
	margin: 0px;
	border: transparent;
	background-color: transparent;
	font-size: 14px;
	font-weight: normal;
	color: #000;
}


/**
 * Tab (LI)
 */

.sl-tabs li {
	padding-left: 0;
}

.sl-tabs .sl-tabs-tab {
	list-style: none;
	position: relative;
	float: left;
	height: 36px;
	line-height: 18px;
	margin: 0 1px 0 0;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	border-radius: 0;
}

.sl-tabs ul>li:first-child {}

.sl-tabs ul>li:last-of-type {
	border-right: none;
}

.sl-tabs li.sl-tabs-inactive {
	background-color: #e0e0e0;
	color: #000;
}

.sl-tabs li.sl-tabs-active {
	background-color: darkgrey;
}

.sl-tabs li.sl-tabs-inactive.sl-tabs-add {
	background-color: transparent;
}

.sl-tabs li.sl-tabs-inactive.sl-tabs-add a {
	color: #000;
}

.sl-tabs li.sl-tabs-active.sl-tabs-add {
	background-color: darkgrey;
}

.sl-tabs li.sl-tabs-active.sl-tabs-add a {
	color: #fff;
}

.sl-tabs .sl-tabs-tab:focus,
.sl-tabs .sl-tabs-tab:active {
	text-decoration: none;
}


/**
 * Anchor tag (LI > A)
 */

.sl-tabs .sl-tabs-tab>a {
	float: left;
	padding: .5em;
	text-decoration: none;
}

.sl-tabs .sl-tabs-tab>a:link,
.sl-tabs .sl-tabs-tab>a:visited,
.sl-tabs .sl-tabs-tab>a:hover,
.sl-tabs .sl-tabs-tab>a:focus,
.sl-tabs .sl-tabs-tab>a:active {
	color: black;
	text-decoration: none;
	border: 0;
}

.sl-tabs li.sl-tabs-tab.sl-tabs-active>a {
	color: white;
}


/**
 * Pane
 */

.sl-tabs div.sl-tabs-pane {
	padding: 0;
	border: 0;
	margin: 0;
}

/**
 * Tab label (UL > LI > A > SPAN)
 */

.sl-tabs li.sl-tabs-tab>a>span {
	padding: 0 5px;
	white-space: nowrap;
	overflow: hidden;
}

.sl-tabs li.sl-tabs-tab>a>span.sl-tabs-editable {
	color: black;
	background-color: white;
}


/**
 * Misc.
 */

.sl-tabs .sl-tabs-clearfix {
	clear: both;
	height: 0px; 
	width: 0px;
	visibility: hidden;
}

.scs-edit-mode .sl-tabs .sl-empty-tabs {
	display: block;
	background-color: #f1f2f2;
	color: black;
	min-height: 25px;
	line-height: 25px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}


/***********************************************************
 * 1) Treatment 1a
 ***********************************************************/

.sl-tabs-treatment-1a.sl-tabs {}

.sl-tabs-treatment-1a.sl-tabs>ul,
.sl-tabs-treatment-1a.sl-tabs>a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	background-color: transparent;
	border: transparent;
}

.sl-tabs-treatment-1a.sl-tabs>a {
	padding: 5px;
	border-bottom: 1px solid rgb(170, 170, 170);
	border-top: 1px solid rgb(170, 170, 170);
	outline: none;
}

.sl-tabs-treatment-1a.sl-tabs li {}

.sl-tabs-treatment-1a.sl-tabs ul>li:first-child {
	border-top-left-radius: 2px;
}

.sl-tabs-treatment-1a.sl-tabs ul>li.sl-tabs-last {
	border-top-right-radius: 2px;
	border-right: none;
}

.sl-tabs-treatment-1a.sl-tabs ul>li:last-of-type {
	border-right: none;
}

.sl-tabs-treatment-1a.sl-tabs .sl-tabs-tab {
	height: 36px;
	line-height: 18px;
	margin: 0 1px 0 0;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	border-radius: 0;
}

.sl-tabs-treatment-1a.sl-tabs li.sl-tabs-inactive,
.sl-tabs-treatment-1a.sl-tabs>a.sl-tabs-inactive {
	background-color: #d8d8d8;
}

.sl-tabs-treatment-1a.sl-tabs li.sl-tabs-inactive.sl-tabs-add {
	background-color: transparent;
}

.sl-tabs-treatment-1a.sl-tabs li.sl-tabs-active.sl-tabs-add {
	background-color: #56595c;
}

.sl-tabs-treatment-1a.sl-tabs li.sl-tabs-active,
.sl-tabs-treatment-1a.sl-tabs>a.sl-tabs-active {
	background-color: #56595c;
	color: #fff;
}

.sl-tabs-treatment-1a.sl-tabs li.sl-tabs-active {
	padding-bottom: 0;
}

.sl-tabs-treatment-1a.sl-tabs>a.sl-tabs-active::after {
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
}

.sl-tabs-treatment-1a.sl-tabs .sl-tabs-tab>a:active {
	border: 0;
}


/***********************************************************
 * 2) Treatment 1b
 ***********************************************************/

.sl-tabs-treatment-1b.sl-tabs>ul,
.sl-tabs-treatment-1b.sl-tabs>a {
	color: #fff;
}

.sl-tabs-treatment-1b.sl-tabs li.sl-tabs-inactive,
.sl-tabs-treatment-1b.sl-tabs>a.sl-tabs-inactive {
	background-color: #027bc7;
}

.sl-tabs-treatment-1b.sl-tabs li.sl-tabs-active,
.sl-tabs-treatment-1b.sl-tabs>a.sl-tabs-active {
	background-color: #024882;
}

.sl-tabs-treatment-1b.sl-tabs li.sl-tabs-active {
	padding-bottom: 0;
}

.sl-tabs-treatment-1b.sl-tabs>a.sl-tabs-inactive::after {
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
}

.sl-tabs-treatment-1b.sl-tabs .sl-tabs-accordion {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}

.sl-tabs-treatment-1b.sl-tabs li.sl-tabs-inactive.sl-tabs-add {
	background-color: transparent;
}

.sl-tabs-treatment-1b.sl-tabs li.sl-tabs-inactive.sl-tabs-add a {
	color: #024882;
}

.sl-tabs-treatment-1b.sl-tabs li.sl-tabs-active.sl-tabs-add a {
	color: #fff;
}

.sl-tabs-treatment-1b.sl-tabs li.sl-tabs-active.sl-tabs-add {
	background-color: #024882;
	color: #fff;
}

.sl-tabs-treatment-1b.sl-tabs .sl-tabs-tab>a {
	color: #fff;
}


/***********************************************************
 * 3) Treatment 1c
 ***********************************************************/

.sl-tabs-treatment-1c.sl-tabs li.sl-tabs-inactive,
.sl-tabs-treatment-1c.sl-tabs>a.sl-tabs-inactive {
	background-color: #f3f3f3;
}

.sl-tabs-treatment-1c.sl-tabs li.sl-tabs-active,
.sl-tabs-treatment-1c.sl-tabs>a.sl-tabs-active {
	background-color: #bababa;
}

.sl-tabs-treatment-1c.sl-tabs li.sl-tabs-inactive.sl-tabs-add {
	background-color: transparent;
}

.sl-tabs-treatment-1c.sl-tabs li.sl-tabs-active.sl-tabs-add {
	background-color: #bababa;
}

.sl-tabs-treatment-1c.sl-tabs .sl-tabs-tab>a {
	color: #595959;
}

.sl-tabs-treatment-1c.sl-tabs li.sl-tabs-tab.sl-tabs-active>a {
	color: #333333;
}


/***********************************************************
 * 4) Treatment 1d
 ***********************************************************/

.sl-tabs-treatment-1d.sl-tabs li.sl-tabs-inactive,
.sl-tabs-treatment-1d.sl-tabs>a.sl-tabs-inactive {
	background-color: #d8d8d8;
}

.sl-tabs-treatment-1d.sl-tabs li.sl-tabs-active,
.sl-tabs-treatment-1d.sl-tabs>a.sl-tabs-active {
	background-color: #027bc7;
}

.sl-tabs-treatment-1d.sl-tabs .sl-tabs-accordion {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}

.sl-tabs-treatment-1d.sl-tabs .sl-tabs-tab>a {
	color: #595959;
}

.sl-tabs-treatment-1d.sl-tabs li.sl-tabs-inactive.sl-tabs-add {
	background-color: transparent;
}

.sl-tabs-treatment-1d.sl-tabs li.sl-tabs-active.sl-tabs-add {
	background-color: #027bc7;
}

.sl-tabs-treatment-1c.sl-tabs li.sl-tabs-active.sl-tabs-add a {
	color: #fff;
}

.sl-tabs-treatment-1d.sl-tabs li.sl-tabs-tab.sl-tabs-active>a {
	color: #fff;
}


/***********************************************************
 * 5) Treatment 2a
 ***********************************************************/

.sl-tabs-treatment-2a.sl-tabs li.sl-tabs-inactive a {
	color: #c0c4c8;
}

.sl-tabs-treatment-2a.sl-tabs li.sl-tabs-active a {
	color: #fff;
}

.sl-tabs-treatment-2a.sl-tabs li.sl-tabs-inactive,
.sl-tabs-treatment-2a.sl-tabs>a.sl-tabs-inactive {
	color: #c0c4c8;
	background-color: #333;
}

.sl-tabs-treatment-2a.sl-tabs li.sl-tabs-active,
.sl-tabs-treatment-2a.sl-tabs>a.sl-tabs-active {
	color: #fff;
	font-weight: bold;
	background-color: #5b5b5b;
}

.sl-tabs-treatment-2a.sl-tabs>a.sl-tabs-inactive::after {
	border-top: 2px solid #c0c4c8;
	border-left: 2px solid #c0c4c8;
}

.sl-tabs-treatment-2a.sl-tabs .sl-tabs-accordion {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}

.sl-tabs-treatment-2a.sl-tabs li.sl-tabs-inactive.sl-tabs-add {
	background-color: transparent;
}

.sl-tabs-treatment-2a.sl-tabs li.sl-tabs-inactive.sl-tabs-add a {
	color: #333;
}

.sl-tabs-treatment-2a.sl-tabs li.sl-tabs-active.sl-tabs-add {
	background-color: #333;
	color: #fff;
}

.sl-tabs-treatment-2a.sl-tabs li.sl-tabs-active.sl-tabs-add a {
	color: #fff;
}


/***********************************************************
 * 6) Treatment 3a
 ***********************************************************/
 
.sl-tabs-treatment-3a.sl-tabs>ul,
.sl-tabs-treatment-3a.sl-tabs>a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
}

.sl-tabs-treatment-3a.sl-tabs .sl-tabs-tab,
.sl-tabs-treatment-3a.sl-tabs>a {
	line-height: 25px;
}

.sl-tabs-treatment-3a.sl-tabs .sl-tabs-accordion.sl-tabs-active::after {
	margin-top: -15px;
}

.sl-tabs-treatment-3a.sl-tabs .sl-tabs-accordion.sl-tabs-inactive::after {
	margin-top: -22px;
}

.sl-tabs-treatment-3a.sl-tabs .sl-tabs-tab {
	height: 42px;
	border-right: none;
	margin: 0;
}

.sl-tabs-treatment-3a.sl-tabs ul>li:first-child,
.sl-tabs-treatment-3a.sl-tabs>a {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.sl-tabs-treatment-3a.sl-tabs ul>li.sl-tabs-last,
.sl-tabs-treatment-3a.sl-tabs>a {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.sl-tabs-treatment-3a.sl-tabs li.sl-tabs-inactive a,
.sl-tabs-treatment-3a.sl-tabs>a.sl-tabs-inactive {
	color: #fff;
}

.sl-tabs-treatment-3a.sl-tabs li.sl-tabs-active a,
.sl-tabs-treatment-3a.sl-tabs>a.sl-tabs-active {
	color: #fff;
	font-weight: bold;
}

.sl-tabs-treatment-3a.sl-tabs li.sl-tabs-inactive,
.sl-tabs-treatment-3a.sl-tabs>a.sl-tabs-inactive {
	background-color: #027bc7;
}

.sl-tabs-treatment-3a.sl-tabs li.sl-tabs-active,
.sl-tabs-treatment-3a.sl-tabs>a.sl-tabs-active {
	background-color: #439ae1;
}

.sl-tabs-treatment-3a.sl-tabs>a::after {
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
}

.sl-tabs-treatment-3a.sl-tabs .sl-tabs-accordion {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}

.sl-tabs-treatment-3a.sl-tabs li.sl-tabs-inactive.sl-tabs-add {
	background-color: transparent;
}

.sl-tabs-treatment-3a.sl-tabs li.sl-tabs-inactive.sl-tabs-add a {
	color: #027bc7;
}


/***********************************************************
 * 7) Treatment 3b
 ***********************************************************/

.sl-tabs-treatment-3b.sl-tabs li.sl-tabs-active,
.sl-tabs-treatment-3b.sl-tabs>a.sl-tabs-active {
	background-color: #014c7a;
}


/***********************************************************
 * 8) Treatment 3c
 ***********************************************************/

.sl-tabs-treatment-3c.sl-tabs li.sl-tabs-inactive,
.sl-tabs-treatment-3c.sl-tabs>a.sl-tabs-inactive {
	background-color: #333333;
}

.sl-tabs-treatment-3c.sl-tabs li.sl-tabs-active,
.sl-tabs-treatment-3c.sl-tabs>a.sl-tabs-active {
	background-color: #5b5b5b;
}

.sl-tabs-treatment-3c.sl-tabs li.sl-tabs-inactive.sl-tabs-add a {
	color: #5b5b5b;
}

.sl-tabs-treatment-3c.sl-tabs li.sl-tabs-active.sl-tabs-add a {
	color: #333333;
}


/***********************************************************
 * 9) Treatment 3d
 ***********************************************************/

.sl-tabs-treatment-3d.sl-tabs li.sl-tabs-inactive,
.sl-tabs-treatment-3d.sl-tabs>a.sl-tabs-inactive {
	background-color: #333333;
}

.sl-tabs-treatment-3d.sl-tabs li.sl-tabs-active,
.sl-tabs-treatment-3d.sl-tabs>a.sl-tabs-active {
	background-color: #015c94;
}


/***********************************************************
 * ..) Treatment 3e
 ***********************************************************/

.sl-tabs-treatment-3e.sl-tabs ul>li:first-child {
	border-radius: 0;
}

.sl-tabs-treatment-3e.sl-tabs ul>li.sl-tabs-last {
	border-radius: 0;
}

.sl-tabs-treatment-3e.sl-tabs li.sl-tabs-inactive {
	background-color: #333333;
}

.sl-tabs-treatment-3e.sl-tabs li.sl-tabs-active {
	background-color: #015c94;
}


/***********************************************************
 * 10) Treatment 4a
 ***********************************************************/
 
.sl-tabs-treatment-4a.sl-tabs>ul,
.sl-tabs-treatment-4a.sl-tabs>a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
}

.sl-tabs-treatment-4a.sl-tabs .sl-tabs-tab,
.sl-tabs-treatment-4a.sl-tabs>a {
	line-height: 19px;
	border-top: 5px solid #ededed;
	background-color: rgba(237, 237, 237, 0.70);
	color: #666;
}

.sl-tabs-treatment-4a.sl-tabs .sl-tabs-tab {
	height: 37px;
	margin: 0;
	border-right: none;
}

.sl-tabs-treatment-4a.sl-tabs .sl-tabs-accordion-allbutfirst {
	margin-top: 0px;
}

.sl-tabs-treatment-4a.sl-tabs ul>li:first-child {
	border-radius: 0;
}

.sl-tabs-treatment-4a.sl-tabs ul>li:last-of-type {
	border-radius: 0;
}

.sl-tabs-treatment-4a.sl-tabs li.sl-tabs-active a {
	color: #333;
}

.sl-tabs-treatment-4a.sl-tabs li.sl-tabs-active,
.sl-tabs-treatment-4a.sl-tabs>a.sl-tabs-active {
	border-top: 5px solid rgba(51, 51, 51, 0.40);
	background-color: #ededed;
}

.sl-tabs-treatment-4a.sl-tabs li.sl-tabs-inactive.sl-tabs-add {
	border-top: 5px solid transparent;
}

.sl-tabs-treatment-4a.sl-tabs li.sl-tabs-inactive.sl-tabs-add a {}

.sl-tabs-treatment-4a.sl-tabs li.sl-tabs-active.sl-tabs-add {
	border-top: 5px solid transparent;
}


/***********************************************************
 * 11) Treatment 4b
 ***********************************************************/

.sl-tabs-treatment-4b.sl-tabs .sl-tabs-tab,
.sl-tabs-treatment-4b.sl-tabs>a {
	line-height: 19px;
	border-right: none;
	background-color: rgba(237, 237, 237, 0.70);
	color: #666;
	border-top: 5px solid #ededed;
}

.sl-tabs-treatment-4b.sl-tabs .sl-tabs-tab {
	height: 37px;
}

.sl-tabs-treatment-4b.sl-tabs ul>li:first-child {
	border-radius: 0;
}

.sl-tabs-treatment-4b.sl-tabs ul>li:last-of-type {
	border-radius: 0;
}

.sl-tabs-treatment-4b.sl-tabs li.sl-tabs-inactive a {}

.sl-tabs-treatment-4b.sl-tabs li.sl-tabs-active a,
.sl-tabs-treatment-4b.sl-tabs>a.sl-tabs-active {
	color: #027bc7;
}

.sl-tabs-treatment-4b.sl-tabs li.sl-tabs-inactive {}

.sl-tabs-treatment-4b.sl-tabs li.sl-tabs-active,
.sl-tabs-treatment-4b.sl-tabs>a.sl-tabs-active {
	border-top: 5px solid #027bc7;
	background-color: #ededed;
}

.sl-tabs-treatment-4b.sl-tabs li.sl-tabs-inactive.sl-tabs-add {
	border-top: 5px solid transparent;
}

.sl-tabs-treatment-4b.sl-tabs li.sl-tabs-active.sl-tabs-add {
	border-top: 5px solid transparent;
}


/***********************************************************
 * 12) Treatment 4c
 ***********************************************************/

.sl-tabs-treatment-4c.sl-tabs .sl-tabs-tab,
.sl-tabs-treatment-4c.sl-tabs>a {
	line-height: 19px;
	border-right: none;
	border-top: 5px solid #ededed;
	background-color: rgba(237, 237, 237, 0.70);
	color: #666;
}

.sl-tabs-treatment-4c.sl-tabs .sl-tabs-tab {
	height: 37px;
}

.sl-tabs-treatment-4c.sl-tabs ul>li:first-child {
	border-radius: 0;
}

.sl-tabs-treatment-4c.sl-tabs ul>li:last-of-type {
	border-radius: 0;
}

.sl-tabs-treatment-4c.sl-tabs li.sl-tabs-inactive a {}

.sl-tabs-treatment-4c.sl-tabs li.sl-tabs-active a,
.sl-tabs-treatment-4c.sl-tabs>a.sl-tabs-active {
	color: #fff;
}

.sl-tabs-treatment-4c.sl-tabs li.sl-tabs-inactive {}

.sl-tabs-treatment-4c.sl-tabs li.sl-tabs-active,
.sl-tabs-treatment-4c.sl-tabs>a.sl-tabs-active {
	border-top: 5px solid rgba(51, 51, 51, 0.4);
	background-color: #027bc7;
}

.sl-tabs-treatment-4c.sl-tabs>a.sl-tabs-active::after {
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
}

.sl-tabs-treatment-4c.sl-tabs li.sl-tabs-inactive.sl-tabs-add {
	border-top: 5px solid transparent;
}

.sl-tabs-treatment-4c.sl-tabs li.sl-tabs-inactive.sl-tabs-add a {}

.sl-tabs-treatment-4c.sl-tabs li.sl-tabs-active.sl-tabs-add {
	border-top: 5px solid transparent;
}


/***********************************************************
 * 13) Treatment 5a
 ***********************************************************/
 
.sl-tabs-treatment-5a.sl-tabs>ul,
.sl-tabs-treatment-5a.sl-tabs>a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
}

.sl-tabs-treatment-5a.sl-tabs .sl-tabs-tab,
.sl-tabs-treatment-5a.sl-tabs>a {
	line-height: 25px;
}

.sl-tabs-treatment-5a.sl-tabs .sl-tabs-tab {
	height: 42px;
	border-right: none;
	margin: 0;
}

.sl-tabs-treatment-5a.sl-tabs ul>li:first-child {
	border-radius: 0;
}

.sl-tabs-treatment-5a.sl-tabs ul>li:last-of-type {
	border-radius: 0;
}

.sl-tabs-treatment-5a.sl-tabs li.sl-tabs-inactive a,
.sl-tabs-treatment-5a.sl-tabs>a.sl-tabs-inactive {
	color: #666;
}

.sl-tabs-treatment-5a.sl-tabs li.sl-tabs-active a, 
.sl-tabs-treatment-5a.sl-tabs>a.sl-tabs-active {
	color: #fff;
}

.sl-tabs-treatment-5a.sl-tabs>a.sl-tabs-active::after {
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
}

.sl-tabs-treatment-5a.sl-tabs .sl-tabs-accordion.sl-tabs-active::after {
	margin-top: -15px;
}

.sl-tabs-treatment-5a.sl-tabs li.sl-tabs-inactive,
.sl-tabs-treatment-5a.sl-tabs>a.sl-tabs-inactive {
	background-color: #e0e0e0;
	z-index: 0;
}

.sl-tabs-treatment-5a.sl-tabs li.sl-tabs-inactive {
	margin-top: 4px;
}

.sl-tabs-treatment-5a.sl-tabs ul>li.sl-tabs-active,
.sl-tabs-treatment-5a.sl-tabs>a.sl-tabs-active {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background: rgba(191, 191, 191, 1);
	background: -moz-linear-gradient(top, rgba(191, 191, 191, 1) 0%, rgba(143, 143, 143, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(191, 191, 191, 1)), color-stop(100%, rgba(143, 143, 143, 1)));
	background: -webkit-linear-gradient(top, rgba(191, 191, 191, 1) 0%, rgba(143, 143, 143, 1) 100%);
	background: -o-linear-gradient(top, rgba(191, 191, 191, 1) 0%, rgba(143, 143, 143, 1) 100%);
	background: -ms-linear-gradient(top, rgba(191, 191, 191, 1) 0%, rgba(143, 143, 143, 1) 100%);
	background: linear-gradient(to bottom, rgba(191, 191, 191, 1) 0%, rgba(143, 143, 143, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfbfbf', endColorstr='#8f8f8f', GradientType=0);
	-webkit-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.25);
	z-index: 1;
}

.sl-tabs-treatment-5a.sl-tabs ul>li.sl-tabs-active {
	margin-top: 0px;
	height: 46px;
	line-height: 35px;
}

.sl-tabs-treatment-5a.sl-tabs li.sl-tabs-inactive.sl-tabs-add {
	background-color: transparent;
}


/***********************************************************
 * 14) Treatment 5b
 ***********************************************************/

.sl-tabs-treatment-5b.sl-tabs .sl-tabs-tab,
.sl-tabs-treatment-5b.sl-tabs>a {
	line-height: 25px;
}

.sl-tabs-treatment-5b.sl-tabs .sl-tabs-tab {
	height: 42px;
	border-right: none;
}

.sl-tabs-treatment-5b.sl-tabs ul>li:first-child {
	border-radius: 0;
}

.sl-tabs-treatment-5b.sl-tabs ul>li:last-of-type {
	border-radius: 0;
}

.sl-tabs-treatment-5b.sl-tabs li.sl-tabs-inactive a,
.sl-tabs-treatment-5b.sl-tabs>a.sl-tabs-inactive {
	color: #666;
}

.sl-tabs-treatment-5b.sl-tabs li.sl-tabs-active a,
.sl-tabs-treatment-5b.sl-tabs>a.sl-tabs-active {
	color: #333;
}

.sl-tabs-treatment-5b.sl-tabs li.sl-tabs-inactive,
.sl-tabs-treatment-5b.sl-tabs>a.sl-tabs-inactive {
	background-color: #e0e0e0;
	z-index: 0;
}

.sl-tabs-treatment-5b.sl-tabs li.sl-tabs-inactive {
	margin-top: 4px;
}

.sl-tabs-treatment-5b.sl-tabs>a.sl-tabs-active::after {
	border-top: 2px solid #333;
	border-left: 2px solid #333;
}

.sl-tabs-treatment-5b.sl-tabs ul>li.sl-tabs-active,
.sl-tabs-treatment-5b.sl-tabs>a.sl-tabs-active {
	margin-top: 0px;
	line-height: 35px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background: #fff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	z-index: 1;
}

.sl-tabs-treatment-5b.sl-tabs ul>li.sl-tabs-active {
	height: 46px;
	border: solid 1px #ccc;
}

.sl-tabs-treatment-5b.sl-tabs li.sl-tabs-inactive.sl-tabs-add {
	background-color: transparent;
}

.sl-tabs-treatment-5b.sl-tabs li.sl-tabs-active.sl-tabs-add a {
	color: #333;
}


/***********************************************************
 * 15) Treatment 5c
 ***********************************************************/

.sl-tabs-treatment-5c.sl-tabs .sl-tabs-tab,
.sl-tabs-treatment-5c.sl-tabs>a {
	line-height: 25px;
}

.sl-tabs-treatment-5c.sl-tabs .sl-tabs-tab {
	height: 42px;
	border-right: none;
}

.sl-tabs-treatment-5c.sl-tabs ul>li:first-child {
	border-radius: 0;
}

.sl-tabs-treatment-5c.sl-tabs ul>li:last-of-type {
	border-radius: 0;
}

.sl-tabs-treatment-5c.sl-tabs li.sl-tabs-inactive a,
.sl-tabs-treatment-5c.sl-tabs>a.sl-tabs-inactive {
	color: #fff;
}

.sl-tabs-treatment-5c.sl-tabs li.sl-tabs-active a,
.sl-tabs-treatment-5c.sl-tabs>a.sl-tabs-active {
	color: #fff;
}

.sl-tabs-treatment-5c.sl-tabs>a.sl-tabs-inactive::after {
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
}

.sl-tabs-treatment-5c.sl-tabs .sl-tabs-accordion {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}

.sl-tabs-treatment-5c.sl-tabs li.sl-tabs-inactive,
.sl-tabs-treatment-5c.sl-tabs>a.sl-tabs-inactive {
	background-color: #027bc7;
	z-index: 0;
}

.sl-tabs-treatment-5c.sl-tabs li.sl-tabs-inactive {
	margin-top: 4px;
}

.sl-tabs-treatment-5c.sl-tabs ul>li.sl-tabs-active,
.sl-tabs-treatment-5c.sl-tabs>a.sl-tabs-active,
.sl-tabs-treatment-5c.sl-tabs>a.sl-tabs-inactive {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.sl-tabs-treatment-5c.sl-tabs ul>li.sl-tabs-active,
.sl-tabs-treatment-5c.sl-tabs>a.sl-tabs-active {
	background: #015c94;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	z-index: 1;
}

.sl-tabs-treatment-5c.sl-tabs ul>li.sl-tabs-active {
	margin-top: 0px;
	height: 46px;
	line-height: 35px;
}

.sl-tabs-treatment-5c.sl-tabs li.sl-tabs-inactive.sl-tabs-add {
	background-color: transparent;
}

.sl-tabs-treatment-5c.sl-tabs li.sl-tabs-inactive.sl-tabs-add a {
	color: #027bc7;
}

.sl-tabs-treatment-5c.sl-tabs li.sl-tabs-active.sl-tabs-add {}

.sl-tabs-treatment-5c.sl-tabs li.sl-tabs-active.sl-tabs-add a {
	color: #015c94;
	font-weight: bold;
}


/*
 * Accordion styles
 */


/* desktop styles:  hide accordion by default - tabs will be displayed */

.sl-tabs-accordion {
	display: none;
	text-decoration: none;
	padding: 5px;
	border-bottom: 1px solid #AAA;
	border-top: 1px solid #AAA;
	background-color: transparent;
	font-size: 14px;
	font-weight: normal;
	color: #000;
	outline: none;
}


/* for the top/bottom border, move up the margin on all but first so that we don't get double lines */

.sl-tabs-accordion-allbutfirst {
	margin-top: -1px;
}


/* handle the up/down arrow for active/inactive tabs */

.sl-tabs-accordion::after {
	box-sizing: border-box;
	content: "";
	position: absolute;
	height: 12px;
	width: 12px;
	display: block;
	cursor: pointer;
	border-top: 2px solid #666;
	border-left: 2px solid #666;
	right: 8px;
}

.sl-tabs-accordion.sl-tabs-active::after {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-top: -10px;
}

.sl-tabs-accordion.sl-tabs-inactive::after {
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
	margin-top: -18px;
}

/* mobile styles: are on a per-instance basis in render.js */.sl-three-columns {
	display: flex;
}
.sl-two-columns {
	display: flex;
}
.container .container-max-width .container {
  width: unset !important
}

@media screen and (min-resolution:0.001dpcm) {
  .container .container-max-width .container {
      width: auto !important
  }
}

.ingersollRandFooter .corporateFooter {
    padding: 2em 5px;
    background-image: url(./images/footer-bg.jpg);
    color: #fff
}

.ingersollRandFooter .corporateFooter p {
    font-size: .8em;
    color: #fff
}

.ingersollRandFooter .corporateFooter .corporateFooterLinksLeft {
    display: inline-block;
    margin-bottom: 30px;
    margin-right: 30px
}

.ingersollRandFooter .corporateFooter .nopaddingLeft {
    padding-left: 0
}

.ingersollRandFooter .corporateFooter .nopaddingLeft .corporateFooterBottom {
    margin-top: 15px
}

@media(min-width:320px) and (max-width:768px) {
    .ingersollRandFooter .corporateFooter .nopaddingLeft .corporateFooterBottom {
        display: flex
    }
}

.ingersollRandFooter .corporateFooter .nopaddingLeft .corporateFooterBottom .corporateFooterBottom__link {
    color: #fff;
    margin-right: 30px
}

@media(min-width:320px) and (max-width:768px) {
    .ingersollRandFooter .corporateFooter .nopaddingLeft .corporateFooterBottom .corporateFooterBottom__link {
        flex: 1;
        text-align: left
    }
}

.ingersollRandFooter .corporateFooter .corporate-footer__logo {
    border-left: 1px solid #828080;
    padding: 3em
}

@media(min-width:320px) and (max-width:768px) {
    .ingersollRandFooter .corporateFooter .corporate-footer__logo {
        padding-left: 0;
        border: none;
        padding-bottom: 0
    }
}

.ingersollRandFooter .corporateFooter .corporate-footer__logo .logo__content {
    height: 100%
}

.ingersollRandFooter .corporateFooter .corporate-footer__logo .logo__content .image {
    display: inline-block;
    max-width: 100%
}
/*
#AlbinPump .localFooter .footerBackground {
    background: none;
    border-top: 3px solid #a9bb37
}

#AlbinPump .localFooter .footerBackground li a {
    color: #a9bb37
}

@media(min-width:320px) and (max-width:768px) {
    #AlbinPump .localFooter .footerDropdownButton {
        color: #a9bb37
    }
}

#Dosatron .ingersollRandFooter .upperFooter {
    background-color: #005caa
}

#Dosatron .ingersollRandFooter .upperFooter .footerContent {
    color: #fff
}

#Dosatron .ingersollRandFooter .footerLinksList .footerLinksContainer .footerLinkDark::before {
    background-color: #ee7335
}

#Dosatron .ingersollRandFooter .footerLinksList .footerLinksContainer .footerLinkDark:hover {
    color: #ee7335
}

#Dosatron .ingersollRandFooter .localFooter .footerBackground {
    background: none;
    border-top-color: #ee7335;
    background-color: #fff
}

#Dosatron .ingersollRandFooter .localFooter .footerBackground .footerNav .listSelectableStyle ul li a,
#Dosatron .ingersollRandFooter .localFooter .footerBackground .footerDropdown .footerDropdownButton {
    color: #ee7335
}

#TheAceGroup .ingersollRandFooter .upperFooter {
    background-color: #444
}

#TheAceGroup .ingersollRandFooter .upperFooter .footerTitle,
#TheAceGroup .ingersollRandFooter .upperFooter .footerLinkDark:hover {
    color: #209aa7
}

#TheAceGroup .ingersollRandFooter .upperFooter .footerContent {
    color: #fff
}

#TheAceGroup .ingersollRandFooter .footerLinksList .footerLinksContainer .footerLinkDark::before {
    background-color: #209aa7
}

#TheAceGroup .ingersollRandFooter .linkList .linksContainer .redLink {
    color: #209aa7
}

#TheAceGroup .ingersollRandFooter .localFooter .footerBackground {
    background: none;
    border-top-color: #209aa7;
    background-color: #444
}

#TheAceGroup .ingersollRandFooter .localFooter .footerBackground .footerNav .listSelectableStyle ul li a {
    color: #209aa7
}

#TheAceGroup .ingersollRandFooter .localFooter .footerBackground li {
    color: #fff
}

#TheAceGroup .ingersollRandFooter .localFooter .footerBackground .irWave {
    display: none
}

#TheAceGroup .ingersollRandFooter .corporateFooter {
    display: none
}

#OMI .footerLinksList .footerLinksContainer .footerLinkDark:before {
    background-color: #048
}

#OMI .footerLinksList .footerLinksContainer .footerLinkDark:hover {
    color: #048
}

#OMI .ingersollRandFooter .localFooter .footerBackground {
    padding-top: 2em;
    border-top: 3px solid #048
}

#OMI .ingersollRandFooter .localFooter .footerBackground .footerDropdownButton {
    color: #048
}

#OMI .ingersollRandFooter .localFooter .footerBackground .footerNav .listSelectableStyle ul li a {
    color: #048
}

#OMI .ingersollRandFooter .localFooter .footerBackground .irWave {
    background: url(/Images/allsites/omi-graphic-element.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center
}

@media(max-width:768px) {
    #OMI .ingersollRandFooter .localFooter .footerBackground .irWave {
        height: 70px
    }
}
*/

@media (max-width:767px) {
    .hidden-xs {
        display: none !important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none !important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .hidden-md {
        display: none !important
    }
}

@media (min-width:1200px) {
    .hidden-lg {
        display: none !important
    }
}

.visible-print {
    display: none !important
}

@media print {
    .visible-print {
        display: block !important
    }

    table.visible-print {
        display: table !important
    }

    tr.visible-print {
        display: table-row !important
    }

    td.visible-print,
    th.visible-print {
        display: table-cell !important
    }
}

.visible-print-block {
    display: none !important
}

@media print {
    .visible-print-block {
        display: block !important
    }
}

.visible-print-inline {
    display: none !important
}

@media print {
    .visible-print-inline {
        display: inline !important
    }
}

.visible-print-inline-block {
    display: none !important
}

@media print {
    .visible-print-inline-block {
        display: inline-block !important
    }
}

@media print {
    .hidden-print {
        display: none !important
    }
}