<template>
    
    <div class="slds-form-element" onclick={onComponentClick}>

        <template if:true={label}>
            <label class="slds-form-element__label">{label}</label>
        </template>

        <div class="slds-form-element__control">

            <div class="slds-combobox_container">

                <div class={comboboxClasses} aria-expanded={isExpanded} aria-haspopup="listbox" role="combobox">

                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">

                        <input type="text" class={inputClasses} role="textbox" placeholder={placeholder} readonly="" value={value}/>

                        <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
                            <lightning-icon icon-name="utility:down" size="xx-small"></lightning-icon> 
                        </span>

                    </div>

                    <div class="slds-dropdown slds-dropdown_fluid" role="listbox" onmouseleave={onFocusOut}>

                        <ul class="slds-listbox slds-listbox_inline" role="presentation">

                            <template for:each={optionsDisplay} for:item="option" for:index="optionIndex">

                                <li key={option.value} role="presentation" class="slds-listbox__item">

                                    <template if:true={option.isSelected}>

                                        <div data-index={optionIndex} aria-checked="true" class="slds-media slds-listbox__option slds-media_small slds-p-around_small slds-is-selected" role="option" onclick={onOptionClick}>
                                            
                                            <span class="slds-media__figure slds-listbox__option-icon">
                                                <span class="slds-icon_container slds-icon-utility-check slds-current-color">
                                                    <lightning-icon icon-name="utility:check" alternative-text="Selected" size="x-small"></lightning-icon> 
                                                </span>
                                            </span>

                                            <span class="slds-media__body">
                                                <span class="slds-truncate" title={option.label}>{option.label}</span>
                                            </span>

                                        </div>

                                    </template>

                                    <template if:false={option.isSelected}>

                                        <div data-index={optionIndex} aria-checked="false" class="slds-media slds-listbox__option slds-media_small slds-p-around_small" role="option" onclick={onOptionClick}>                                            

                                            <span class="slds-media__body">
                                                <span class="slds-truncate" title={option.label}>{option.label}</span>
                                            </span>

                                        </div>

                                    </template>                                    

                                </li>

                            </template>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

</template>