.THIS {
}

.THIS .tableBorder{
    border: 1px solid #e0d9d9;

}

/*.THIS .tableHeader{
    background-color: #41aef2;
    color: rgb(81, 79, 77); 
}*/

/*.THIS .tableHeader{
	background-color: rgb(250, 250, 249);
	color:rgb(62, 62, 60);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight:400;
	background-color: rgb(250, 250, 249);
    font-size:10px;
    padding-top: 4px;
    padding-bottom: 4px;
}*/

.THIS .tableHeader{
    /*background-color: #41aef2;*/
    /*color: rgb(81, 79, 77);   */
    /*background-color: rgb(250, 250, 249);*/
    /*background-color: rgba(176, 196, 223, 1.0);*/
    /*color:rgb(62, 62, 60);*/
    color: rgb(0, 57, 107);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:400;
    background-color: rgb(207, 235, 254);
    font-size:12px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.THIS .tableHeader1{

}

.THIS .tableFooter{
    /*background-color: #41aef2;*/
    /*color: rgb(81, 79, 77);   */
    background-color: rgb(250, 250, 249);
    color:rgb(62, 62, 60);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:400;
    font-size:10px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.THIS .tablesubHeader1{
    font-size:10px;
}


.THIS .ft-10{
    font-size:10px;
}

.THIS .input-height{
    /*height: 10px;*/
}

.THIS .font-bold{
    font-weight: bold;
}

.THIS .uiInput--input.input{
    min-height: 10px;
    border:none;
}

.THIS .bs-10{
    padding-right:10px;
}