.homePage-card-style {
    width: 800px;
    display: block;
    background-color: #1F2A5B;
}
.homePage-title-style {
    font-size: 35px;
}
.title-style {
    font-size: 25px;
}
.desc-style {
    font-size: 22px;
}
.input-style {
    padding-left: 30px;
}
.search-item-style {
    color: #ee2a24;
}
.models-option-style {
    color: rgb(128, 128, 128);
}
.options-style {
    font-size: small;
}
.inline-options {
    display: inline-block;
    margin: 0px;
}
.error-style {
    color: #8C4B02;
    position: relative;
    bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.group-header {
    background-color: rgb(215 213 213);
}
.li {
    border: solid 1px rgb(215 213 213);
}
.card-style {
    width: 800px;
    display: block;
    border-color: #1F2A5B;
}
.font-color {
    color: white;
}
.homepage-filter-button-color-style {
    --sds-c-button-brand-color-border: white;
    --sds-c-button-brand-color-border-hover: white;
}
.button-style {
    height: 30px;
}
.warning-text-style {
    white-space: pre-line;
    font-size: 15px;
    padding-right: 80px;
}
.warning-body-style {
    padding-left: 70px;
    background-color: #F9E3B6;
    padding-top: 10px;
    padding-bottom: 10px;
}
.icon-style {
    padding-top: 10px;
    --slds-c-icon-color-foreground-defaul: #8C4B02;
}