<!-- Custom Search -->
<template>
    <article class={cardStyle} lwc:if={showSearchCard}>
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__body">
                    <p class="homePage-title-style slds-align_absolute-center font-color" lwc:if={isHomePage}> {labels.Search_Filter_HomePage_description} </p>
                    <p class="title-style slds-align_absolute-center" lwc:else> {labels.Search_Filter_CategoryPage_description} </p>
                </div>
            </header>
        </div>
        <div class="slds-card__body slds-card__body_inner slds-align_absolute-center desc-style font-color" lwc:if={isHomePage}>{labels.Search_Filter_HomePage_text}</div>

        <div class="slds-grid slds-gutters">
            <div class={gridTopStyle}>
                <div class="slds-form-element">
                    <div class="slds-form-element__control">
                        <lightning-input
                                class="slds-align_absolute-center"
                                type="Search"
                                value={selectedValue}
                                onchange={handleInputChange}
                                oncommit={handleClear}
                                placeholder={labels.Search_asset_placeholder}>
                        </lightning-input>

                        <div if:true={showDropDown} class="slds-dropdown slds-dropdown_length-10 slds-dropdown_fluid" role="listbox">
                            <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                <li key={modelsHeader} role="presentation" class="slds-listbox__item">
                                    <span class="slds-listbox__option-text slds-listbox__option-text_entity group-header"> {labels.Results_Models_GroupName} </span>
                                </li>
                                <template for:each={resultsToShow} for:item="searchResult">
                                    <li if:false={searchResult.isSerialNumberSearch} key={searchResult.name} role="presentation" class="slds-listbox__item li"
                                        onclick={handleOptionClick}
                                        data-name={searchResult.name}>
                                        <div class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small" role="option">
                                            <span class="slds-media__figure slds-listbox__option-icon"></span>
                                            <span class="slds-media__body">
                                                <span class="slds-listbox__option-text slds-listbox__option-text_entity inline-options ">{labels.Model}: </span>
                                                &nbsp;
                                                <span class="slds-listbox__option-text slds-listbox__option-text_entity search-item-style inline-options ">{searchResult.modelName}</span>
                                            </span>
                                        </div>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class={gridBottomStyle}>
                <button onclick={filterResults} class={buttonStyle} disabled={disableButton}>{buttonText}</button>
            </div>
        </div>

        <div class="error-style" lwc:if={showError}>
            <div class="slds-grid slds-gutters warning-body-style">
                <div class="slds-col">
                    <lightning-icon icon-name="utility:warning" alternative-text="warning" title="warning" variant="warning" size="small" class="icon-style"></lightning-icon>
                </div>
                <div class="slds-col">
                    <div class="warning-text-style" >
                        {labels.Missing_Search_text}
                    </div>
                </div>
            </div>
        </div>
    </article>
</template>