<!-- B2B Checkbox At Checkout -->
<template>
    <div>
        <input type="checkbox"
                id="termsandconditions"
                name="terms"
                checked={checked}
                onchange={handleChange}
        ></input>
        <label class="slds-p-left_x-small fontStyle" for="termsandconditions">
            <lightning-formatted-rich-text
                    value={disclaimerTextWithLinks}
            ></lightning-formatted-rich-text>
        </label>
    </div>
    <label if:true={showError} class="slds-text-color_error errorFontStyle">
        {error}
    </label>
</template>