.THIS.okay {
    color: black;
    size: 5;
}

.THIS.late{
    color: red;
    size: 6;
}

.THIS.slds-tile-element {
    size: 25px;
    color: green; 
}

.THIS .slds-media__body h3 a {font-size: 25px; color: black;}