<apex:page showHeader="false" sidebar="false">

    <html>
    
        <head>

            <script type="text/javascript">
            
            var verifyCallback = function (response) {

                console.log("verifyCallback")

                let hostURL = window.parent.location.protocol + "//" + window.parent.location.hostname,
                    recaptchaResponse = document.getElementById("g-recaptcha-response").value;

                parent.postMessage({
                    action: "unlock",
                    response: recaptchaResponse
                }, hostURL);
            };

            var onloadCallback = function () {

                grecaptcha.render("recaptcha", {
                    "sitekey": "{!$Setup.CTS_IOT_Community_Administration__c.ReCaptcha_Site_Key__c}",
                    "callback": verifyCallback
                });
            }; 

            // this function checks if captcha is active and send post message to parent to increse heigh of iframe
            var observer = new MutationObserver(function (mutations) {

                let hostURL = window.parent.location.protocol + "//" + window.parent.location.hostname;

                if (document.getElementById("captcha") && document.getElementById("captcha").nextSibling && document.getElementById("captcha").nextSibling.nextSibling) {
                    
                    const isCaptchaVisible = document.getElementById("captcha").nextSibling.nextSibling.style.visibility;
                    
                    console.log("captchaVisible: " + isCaptchaVisible);
                    
                    if (isCaptchaVisible) {
                        parent.postMessage({ "captchaVisible": isCaptchaVisible }, hostURL);
                    }
                }
            });

            var config = {attributes: true, childList: true, subtree: true};
            observer.observe(document.body, config);         
            
            </script>

            <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" />

        </head>

        <body>

            <form action="?" method="POST">
                <div id="recaptcha"
                class="g-recaptcha" 
                style="transform: scale(0.74);transform-origin: 0 0;-webkit-transform:scale(0.74);-webkit-transform-origin: 0 0"></div>
            </form>

            <div id="captcha" />

        </body>    

    </html>

</apex:page>