<apex:page standardController="Case" extensions="CTS_CaseControllerExt" >
    <apex:includeScript value="{!$Resource.CTS_jQuery}"/>
    <apex:stylesheet value="{!$Resource.CTS_WebToCaseCSS}"/>
    
    <apex:form id="form">
        <apex:pageMessages ></apex:pageMessages>
        
        <div id="spinner">
            <div class="spinnerBackground">
                &nbsp;
            </div>
            <div class="spinner">
                <img src="{!$Resource.CTS_LoadingSpinner}" />
            </div>
        </div>
        
        <apex:pageBlock title="Care Team Case Management" >
            <apex:pageBlockSection columns="1" >
                <apex:inputField value="{!caseObj.IR_Employee_Name__c}" required="true" />
                <apex:inputField value="{!caseObj.AccountId}" required="true"/>
                <!--<apex:inputField value="{!caseObj.CTS_Agreement__c}"/>-->
                <!--<apex:inputField value="{!caseObj.CTS_Care_Request_Type__c}" required="true"/>
                <apex:inputField value="{!caseObj.CTS_Care_Request_Subtype__c}" required="true"  />
                <apex:inputField value="{!caseObj.CTS_Addendum_Reason__c}" />-->
                <apex:inputField value="{!caseObj.Description}" label="Notes" />
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Attachment(Max 10Mb):"/>
                    <apex:inputFile title="Attachment:"  filename="{!fileName}" contentType="{!contentType}" value="{!afile}"/>     
                
                </apex:pageBlockSectionItem> 
                    
                
            </apex:pageBlockSection>
            
                <apex:pageBlockButtons >
                    <apex:actionRegion >
                <apex:commandButton value="Submit"  action="{!createCase}" onclick="showSpinner()" />
            </apex:actionRegion>
                </apex:pageBlockButtons>
                
            
            
        </apex:pageBlock>
        
        <apex:outputPanel id="tstpopup">                
            <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!displayPopUp}"/>                
            <apex:outputPanel styleClass="custPopup" layout="block" rendered="{!displayPopUp}">
                <div>
                    {!$Label.CTS_Care_Case_Ack} {!caseNumber}
                </div>
                <div style="text-align: center;">
                    <apex:commandButton value="Ok" action="{!closePopup}" />
                </div>
            </apex:outputPanel>
        </apex:outputPanel>
        
    </apex:form>
    <apex:includeScript value="{!$Resource.CTS_WebToCase}"/>

</apex:page>