<apex:page controller="GBLite.GridExportController" showHeader="false" sidebar="false" readOnly="true" >
    <!--[if IE 8]>
        <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.GBLite__gb_resources, 'ie8-styles.css')}" />
    <![endif]-->
	<div class="gbAppPage gbExportPage{!IF(lightningStylesEnabled, ' gbLightning', '')}">
        <div class="body">  
	        <apex:outputPanel id="exportMsgBlock">
				<div id="exportMsgBox" class="msgBox {!IF(exportError, 'warningMsg', 'infoMsg')} {!IF(showExportMsg, '', 'none')}">
				    <div class="{!IF(exportError, 'gbIconAlert', 'gbIconCheckmark')}"></div>
					<div class="msgTxt" >{!exportMsg}</div>
				</div>  	
			</apex:outputPanel>
			<apex:form >
				<apex:actionFunction name="getExportObjectDataJS" action="{!getExportObjectData}" 
						rerender="exportMsgBlock, dataBlock" oncomplete="GBExport.initDownloadify()">
					<apex:param name="selectedObjects" assignTo="{!selectedObjects}" value="" />
					<apex:param name="selectedParentIds" assignTo="{!selectedParentIds}" value="" />
				</apex:actionFunction>	
				
				<apex:outputPanel id="dataBlock" styleClass="none">
					<script>
						var parentObjectData1 = {!parentObjectData1},
							parentObjectData2 = {!parentObjectData2},
							parentObjectData3 = {!parentObjectData3},
							childObject1Data1 = {!childObject1Data1},
							childObject1Data2 = {!childObject1Data2},
							childObject1Data3 = {!childObject1Data3},
							childObject2Data1 = {!childObject2Data1},
							childObject2Data2 = {!childObject2Data2},
							childObject2Data3 = {!childObject2Data3},
							childObject3Data1 = {!childObject3Data1},
							childObject3Data2 = {!childObject3Data2},
							childObject3Data3 = {!childObject3Data3},
							childObject4Data1 = {!childObject4Data1},
							childObject4Data2 = {!childObject4Data2},
							childObject4Data3 = {!childObject4Data3};
					</script>
				</apex:outputPanel>
                <div class="exportFieldRow">
					<span class="exportFieldLabel">
					    <b>{!lang.exportFormatLbl}</b>
			        </span>
					<apex:selectList value="{!exportFormat}" multiselect="false" size="1" styleClass="exp format">
						<apex:selectOptions value="{!exportFormats}"/>
					</apex:selectList>
                </div>
                <div class="exportFieldRow">
					<span class="exportFieldLabel">
					    <b>{!lang.exportAmountLbl}</b>
					</span>
					<apex:selectList value="{!exportAmount}" multiselect="false" size="1" styleClass="exp amount">
						<apex:selectOptions value="{!exportAmounts}"/>
					</apex:selectList>
                </div>
                <div class="exportFieldRow">
					<div class="exportFieldLabel exportObjectsLbl">
					    <b>{!lang.exportObjectsLbl}</b>
				    </div>
					<div class="exportField" id="objectChecks"></div>
                </div>
                 <div class="exportFieldRow none" id="signUpRow">
                    <div class="gbInfoIcon"></div>
                    <div class="signUpTxt"><apex:outputText value="{!lang.signUpForUnlimitedToExportTxt}" escape="false" /></div>
                </div>
			</apex:form>
		</div>
		<div id="exportBtns">
			<span id="downloadifyContainer">
				<span id="downloadify">
					{!lang.needFlashToExportTxt}
				</span>
			</span>	
			<input type="button" class="gbBtn actionBtn exportAction{!IF(lightningStylesEnabled, ' ldsWhiteBtn', '')}" value="{!lang.exportBtnLbl}" />
			<input type="button" class="gbBtnDisabled none exportDisabled{!IF(lightningStylesEnabled, ' ldsWhiteBtn', '')}" value="{!lang.exportBtnLbl}" disabled="disabled" /> 
			<input type="button" class="gbBtn actionBtn exportCancel{!IF(lightningStylesEnabled, ' ldsWhiteBtn', '')}" value="{!lang.CancelBtnLbl}" />
			<input type="button" class="gbBtnDisabled none{!IF(lightningStylesEnabled, ' ldsWhiteBtn', '')}" value="{!lang.CancelBtnLbl}" disabled="disabled" />
		</div>
		<script>
			var swfFileLocation = "{!URLFOR($Resource.gb_resources, 'downloadify/media/downloadify.swf')}",
				buttonImage = "{!URLFOR($Resource.gb_resources, 'downloadify/images/transparent.png')}",
				gridName = '{!gridConfig.Name}',
				currentLocale = '{!localeForDate}',
				dateFormat = '{!dateFormat}', // used by date js
				apexTZOffset = {!apexTimezoneOffset},
				isMultiCurrencyOrg = {!isMultiCurrencyOrg},
				preparingExportData = '{!lang.preparingExportDataTxt}',
				noParentRecordsSelected = '{!lang.noParentRecordsSelectedTxt}',
				exporting = '{!lang.exportTxt}',
				exportSuccess = '{!lang.exportSuccessTxt}',
				needFlashToExport = '{!lang.needFlashToExportTxt}',
				object_Name_to_Name_Field = {!objectNameToNameField},
				DEFAULT_DECIMAL_SEPARATOR = '{!defaultDecimalSeparator}', 
				LOCALE_DECIMAL_SEPARATOR = '{!localeDecimalSeparator}',
				CURRENT_PAGE_SELECTED_RECORDS = '{!optionCurrentPageSelectedRecords}',
				CURRENCY_ISO_CODE_FIELD = '{!currencyIsoCodeField}',
				OPTION_XLS = '{!optionXls}',
				OPTION_CSV = '{!optionCsv}',
				CSVFormatChangeHelpTxt = '{!lang.CSVFormatChangeHelpTxt}',
				multiObjectExportEnabled = {!multiObjectExportEnabled};
		</script>
				
		<c:FileComponent JSFileNames="{!ExportJSFileNames}" CSSFileNames="{!ExportCSSFileNames}"/>
			
		<script>
			<apex:repeat value="{!parentGrid.allGridInfo}" var="gInfo">
	            gridInfoMapId = '{!gInfo.id}';
	            gridInfoMap[gridInfoMapId] 
	            	= new GridInfo(gridInfoMapId, 
	            				   {!gInfo.rowCnt}, 
								   '{!gInfo.HTMLEscapedGridObjectName}', 
								   '{!gInfo.HTMLEscapedGridObjectPluralName}', 
								   '{!gInfo.fullyQualifiedObjectName}' 
								   );
	            gridInfoMapLen++;
	            
	            <apex:repeat value="{!gInfo.metaColumns}" var="metaCol">
	                
	                gridInfoMap[gridInfoMapId].addMetaCol({!metaCol.colIndex}, 
	                									  "{!metaCol.fieldName}", 
	                									  "{!metaCol.HTMLEscapedFieldLabel}", 
	                									  "{!metaCol.dataTypeStr}",
	                									  "{!metaCol.fieldRelationshipName}", 
	                									  {!metaCol.isHtmlFormatted}, 
	                									  {!metaCol.isHidden}
	                									  );
	                									  
	            </apex:repeat>
	        </apex:repeat>
		</script>
	</div>
</apex:page>