<apex:page sidebar="false" showHeader="false"  controller="icAgentConsole.incAgentConsoleController" >

  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/MetaTag.js')}"/>

  <script type="text/javascript">
    IC_Localization = {
    accept: "{!JSENCODE($Label.accept)}",
    active: "{!JSENCODE($Label.active)}",
    activeCallShouldBePutOnHold: "{!JSENCODE($Label.activecallshouldbeputonhold)}",
    acw: "{!JSENCODE($Label.acw)}",
    addCall: "{!JSENCODE($Label.addcall)}",
    addChat: "{!JSENCODE($Label.addchat)}",
    addChatErrorAttempt: "{!JSENCODE($Label.addchaterrorattempt)}",
    addfeedbackAttempt: "{!JSENCODE($Label.addfeedbackattempt)}",
    address: "{!JSENCODE($Label.address)}",
    addressBook: "{!JSENCODE($Label.addressbook)}",
    addressBooks: "{!JSENCODE($Label.addressbooks)}",
    agent: "{!JSENCODE($Label.agent)}",
    agents: "{!JSENCODE($Label.agents)}",
    agentDialLegErrorAttempt: "{!JSENCODE($Label.agentdiallegerrorattempt)}",
    agentEndLegErrorAttempt: "{!JSENCODE($Label.agentendlegerrorattempt)}",
    agentHasLeftTheChat: "{!JSENCODE($Label.agenthasleftthechat)}",
    agentInfo: "{!JSENCODE($Label.agentinfo)}",
    agentLegConnected: "{!JSENCODE($Label.agentlegconnected)}",
    agentLegDialing: "{!JSENCODE($Label.agentlegdialing)}",
    agentLegDisconnected: "{!JSENCODE($Label.agentlegdisconnected)}",
    agentLegID: "{!JSENCODE($Label.agentlegid)}",
    agentStateChangeErrorAttempt: "{!JSENCODE($Label.agentstatechangeerrorattempt)}",
    agentID: "{!JSENCODE($Label.agentid)}",
    agentName: "{!JSENCODE($Label.agentname)}",
    alertMessageEmailNotDelivered: "{!JSENCODE($Label.alertmessageemailnotdelivered)}",
    alertMessageEndContact: "{!JSENCODE($Label.alertmessageendcontact)}",
    alertMessageHOP: "{!JSENCODE($Label.alertmessagehop)}",
    alertMessageLogout: "{!JSENCODE($Label.alertmessagelogout)}",
    alertMessageInboundSMS: "{!JSENCODE($Label.alertMessageInboundSMS)}",
    alertMessageNotInitMail: "{!JSENCODE($Label.alertmessagenotinitmail)}",
    alertMessageSendMail1: "{!JSENCODE($Label.alertmessagesendmail1)}",
    alertMessageSendMail2: "{!JSENCODE($Label.alertmessagesendmail2)}",
    alignCenter: "{!JSENCODE($Label.aligncenter)}",
    alignLeft: "{!JSENCODE($Label.alignleft)}",
    alignRight: "{!JSENCODE($Label.alignright)}",
    allAgents: "{!JSENCODE($Label.allagents)}",
    allFieldsAreRequired: "{!JSENCODE($Label.allfieldsarerequired)}",
    allSkills: "{!JSENCODE($Label.allskills)}",
    allTeams: "{!JSENCODE($Label.allteams)}",
    areYouSure: "{!JSENCODE($Label.areyousure)}",
    assignTo:"{!JSENCODE($Label.assignto)}",
    assignedTo:"{!JSENCODE($Label.assignedto)}",
    attachment: "{!JSENCODE($Label.attachment)}",
    attachmentError: "{!JSENCODE($Label.attachmenterror)}",
    attachmentError1: "{!JSENCODE($Label.attachmenterror1)}",
    available: "{!JSENCODE($Label.available)}",
    backSpace: "{!JSENCODE($Label.backspace)}",
    bcc: "{!JSENCODE($Label.bcc)}",
    bold: "{!JSENCODE($Label.bold)}",
    bulletedList: "{!JSENCODE($Label.bulletedlist)}",
    call: "{!JSENCODE($Label.call)}",
    callAbandoned: "{!JSENCODE($Label.callabandoned)}",
    callBack:"{!JSENCODE($Label.callback)}",
    callRinging: "{!JSENCODE($Label.callringing)}",
    callsRinging: "{!JSENCODE($Label.callsringing)}",
    callInProgressNotReauthenticate: "{!JSENCODE($Label.callinprogressnotreauthenticate)}",
    callerID: "{!JSENCODE($Label.callerid)}",
    cancel: "{!JSENCODE($Label.cancel)}",
    category: "{!JSENCODE($Label.category)}",
    cc: "{!JSENCODE($Label.cc)}",
    chat: "{!JSENCODE($Label.chat)}",
    chatContactWaiting: "{!JSENCODE($Label.chatcontactwaiting)}",
    chatNotes: "{!JSENCODE($Label.chatnotes)}",
    chatSessionEnded: "{!JSENCODE($Label.chatsessionended)}",
    close: "{!JSENCODE($Label.close)}",
    comments: "{!JSENCODE($Label.comments)}",
    commitmentDetails: "{!JSENCODE($Label.commitmentdetails)}",
    commitmentManager: "{!JSENCODE($Label.commitmentmanager)}",
    confTheExistingCalls: "{!JSENCODE($Label.conftheexistingcalls)}",
    conference: "{!JSENCODE($Label.conference)}",
    conferenceErrorAttempt: "{!JSENCODE($Label.conferenceerrorattempt)}",
    consultRequest: "{!JSENCODE($Label.consultrequest)}",
    consultRequestWaiting: "{!JSENCODE($Label.consultrequestwaiting)}",
    contact: "{!JSENCODE($Label.contact)}",
    contactDispErrorAttempt: "{!JSENCODE($Label.contactdisperrorattempt)}",
    contactEndErrorAttempt: "{!JSENCODE($Label.contactenderrorattempt)}",
    contactHistory: "{!JSENCODE($Label.contacthistory)}",
    contactRequiresConfirmation: "{!JSENCODE($Label.contactrequiresconfirmation)}",
    currentContactErrorAttempt: "{!JSENCODE($Label.currentcontacterrorattempt)}",
    currentContacts: "{!JSENCODE($Label.currentcontacts)}",
    currentTime: "{!JSENCODE($Label.currenttime)}",
    customUrlPop: "{!JSENCODE($Label.customurlpop)}",
    date: "{!JSENCODE($Label.date)}",
    dateRange: "{!JSENCODE($Label.daterange)}",
    dateTime: "{!JSENCODE($Label.datetime)}",
    delete: "{!JSENCODE($Label.delete)}",
    deleteCommitmentErrorAttempt: "{!JSENCODE($Label.deletecommitmenterrorattempt)}",
    deleteCommitmentConfirmation: "{!JSENCODE($Label.deletecommitmentconfirmation)}",
    dial: "{!JSENCODE($Label.dial)}",
    dialAgentErrorAttempt: "{!JSENCODE($Label.dialagenterrorattempt)}",
    dialErrorAttempt: "{!JSENCODE($Label.dialerrorattempt)}",
    dialing: "{!JSENCODE($Label.dialing)}",
    dialPad: "{!JSENCODE($Label.dialpad)}",
    dialSkillErrorAttempt: "{!JSENCODE($Label.dialskillerrorattempt)}",
    dialerLoginErrorAttempt: "{!JSENCODE($Label.dialerloginerrorattempt)}",
    dialerLogoutErrorAttempt: "{!JSENCODE($Label.dialerlogouterrorattempt)}",
    discard: "{!JSENCODE($Label.discard)}",
    discarded: "{!JSENCODE($Label.discarded)}",
    disconnect: "{!JSENCODE($Label.disconnect)}",
    disconnected: "{!JSENCODE($Label.disconnected)}",
    disposition: "{!JSENCODE($Label.disposition)}",
    dispSubmitBtn: "{!JSENCODE($Label.dispsubmitbtn)}",
    doYouAcceptIt: "{!JSENCODE($Label.doyouacceptit)}",
    done: "{!JSENCODE($Label.done)}",
    downloadLog: "{!JSENCODE($Label.downloadlog)}",
    edit: "{!JSENCODE($Label.edit)}",
    email: "{!JSENCODE($Label.email)}",
    emailNotes: "{!JSENCODE($Label.emailnotes)}",
    endDate: "{!JSENCODE($Label.enddate)}",
    enterAmount: "{!JSENCODE($Label.enteramount)}",
    enterComments: "{!JSENCODE($Label.entercomments)}",
    enterFirstName:"{!JSENCODE($Label.enterfirstname)}",
    enterLastName:"{!JSENCODE($Label.enterlastname)}",
    enterPhoneNumber:"{!JSENCODE($Label.enterphonenumber)}",
    inValidphoneNumber:"{!JSENCODE($Label.invalidphonenumber)}",
    enterMessage: "{!JSENCODE($Label.entermessage)}",
    enterNotes:"{!JSENCODE($Label.enternotes)}",
    enterTheAmount: "{!JSENCODE($Label.entertheamount)}",
    enterValidDate: "{!JSENCODE($Label.entervaliddate)}",
    enterValidPhoneNumber: "{!JSENCODE($Label.entervalidphonenumber)}",
    errorMsgBadMailId: "{!JSENCODE($Label.errormsgbadmailid)}",
    errorMsgReqToAddr: "{!JSENCODE($Label.errormsgreqtoaddr)}",
    errorMsgUnexpected: "{!JSENCODE($Label.errormsgunexpected)}",
    fax: "{!JSENCODE($Label.fax)}",
    feedback: "{!JSENCODE($Label.feedback)}",
    filter: "{!JSENCODE($Label.filter)}",
    first: "{!JSENCODE($Label.first)}",
    firstName: "{!JSENCODE($Label.firstname)}",
    font: "{!JSENCODE($Label.font)}",
    fontSize: "{!JSENCODE($Label.fontsize)}",
    form: "{!JSENCODE($Label.form)}",
    forward: "{!JSENCODE($Label.forward)}",
    forwardShortForm: "{!JSENCODE($Label.forwardshortform)}",
    forwardTo: "{!JSENCODE($Label.forwardto)}",
    from: "{!JSENCODE($Label.from)}",
    getNextErrorAttempt: "{!JSENCODE($Label.getnexterrorattempt)}",
    getNextErrorAttemptWarn: "{!JSENCODE($Label.getnexterrorattemptwarn)}",
    handlingContactErrorAttempt: "{!JSENCODE($Label.handlingcontacterrorattempt)}",
    heldPartyAbandoned: "{!JSENCODE($Label.heldpartyabandoned)}",
    help: "{!JSENCODE($Label.help)}",
    highlightColor: "{!JSENCODE($Label.highlightcolor)}",
    hold: "{!JSENCODE($Label.hold)}",
    holdCurrentWorkItemContact: "{!JSENCODE($Label.holdcurrentworkitemcontact)}",
    holdErrorAttempt: "{!JSENCODE($Label.holderrorattempt)}",
    holding: "{!JSENCODE($Label.holding)}",
    hyperlink: "{!JSENCODE($Label.hyperlink)}",
    inContactAgentPassword: "{!JSENCODE($Label.incontactagentpassword)}",
    inContactAgentPhone: "{!JSENCODE($Label.incontactagentphone)}",
    inContactAgentStationID: "{!JSENCODE($Label.incontactagentstationid)}",
    inbound: "{!JSENCODE($Label.inbound)}",
    inboundConsult: "{!JSENCODE($Label.inboundconsult)}",
    inboundContact: "{!JSENCODE($Label.inboundcontact)}",
    incomingWorkItem: "{!JSENCODE($Label.incomingworkitem)}",
    incontactAgentName: "{!JSENCODE($Label.incontactagentname)}",
    information: "{!JSENCODE($Label.information)}",
    insert: "{!JSENCODE($Label.insert)}",
    insertHyperLink: "{!JSENCODE($Label.inserthyperlink)}",
    inValidDateTimeErrorAttempt:"{!JSENCODE($Label.invaliddatetimeerrorattempt)}",
    interrupted: "{!JSENCODE($Label.interrupted)}",
    invalidSFDCOrigin: "{!JSENCODE($Label.invalidsfdcorigin)}",
    italic: "{!JSENCODE($Label.italic)}",
    joined: "{!JSENCODE($Label.joined)}",
    joinedSessionAlreadyInProgress: "{!JSENCODE($Label.joinedsessionalreadyinprogress)}",
    justify: "{!JSENCODE($Label.justify)}",
    keypadTones: "{!JSENCODE($Label.keypadtones)}",
    last: "{!JSENCODE($Label.last)}",
    lastName: "{!JSENCODE($Label.lastname)}",
    loading: "{!JSENCODE($Label.loading)}",
    logLevel: "{!JSENCODE($Label.loglevel)}",
    loggedIn: "{!JSENCODE($Label.loggedin)}",
    loggedOut: "{!JSENCODE($Label.loggedout)}",
    loggingIn: "{!JSENCODE($Label.loggingin)}",
    login: "{!JSENCODE($Label.login)}",
    loginFailedError: "{!JSENCODE($Label.loginfailederror)}",
    logout: "{!JSENCODE($Label.logout)}",
    machine: "{!JSENCODE($Label.machine)}",
    mask: "{!JSENCODE($Label.mask)}",
    me: "{!JSENCODE($Label.me)}",
    message: "{!JSENCODE($Label.message)}",
    min:"{!JSENCODE($Label.min)}",
    mute: "{!JSENCODE($Label.mute)}",
    unmute: "{!JSENCODE($Label.unmute)}",
    muteErrorAttempt: "{!JSENCODE($Label.muteerrorattempt)}",
    nextStateTooltip: "{!JSENCODE($Label.nextstatetooltip)}",
    new:"{!JSENCODE($Label.new)}",
    noPorts: "{!JSENCODE($Label.noports)}",
    no: "{!JSENCODE($Label.no)}",
    noDataFound: "{!JSENCODE($Label.nodatafound)}",
    notes: "{!JSENCODE($Label.notes)}",
    noPromisesAgent: "{!JSENCODE($Label.nopromisesagent)}",
    noPromisesSkill: "{!JSENCODE($Label.nopromisesskill)}",
    ok: "{!JSENCODE($Label.ok)}",
    options: "{!JSENCODE($Label.options)}",
    outbound: "{!JSENCODE($Label.outbound)}",
    outboundConsult: "{!JSENCODE($Label.outboundconsult)}",
    outboundContact: "{!JSENCODE($Label.outboundcontact)}",
    passwordRequired: "{!JSENCODE($Label.passwordrequired)}",
    paused: "{!JSENCODE($Label.paused)}",
    personalConnection: "{!JSENCODE($Label.personalconnection)}",
    personalConnectionPending: "{!JSENCODE($Label.personalconnectionpending)}",
    personalQueue: "{!JSENCODE($Label.personalqueue)}",
    phone: "{!JSENCODE($Label.phone)}",
    phoneNumberIsNotValid: "{!JSENCODE($Label.phonenumberisnotvalid)}",
    phoneNumberOrStationIDRequired: "{!JSENCODE($Label.phonenumberorstationidrequired)}",
    phoneCall: "{!JSENCODE($Label.phonecall)}",
    phoneNumber: "{!JSENCODE($Label.phonenumber)}",
    popin: "{!JSENCODE($Label.popin)}",
    popout: "{!JSENCODE($Label.popout)}",
    priority: "{!JSENCODE($Label.priority)}",
    queue: "{!JSENCODE($Label.queue)}",
    quickResponse: "{!JSENCODE($Label.quickresponse)}",
    record: "{!JSENCODE($Label.record)}",
    recordingInProgress: "{!JSENCODE($Label.recordinginprogress)}",
    recordInventoryLow: "{!JSENCODE($Label.recordinventorylow)}",
    reject: "{!JSENCODE($Label.reject)}",
    replaceVariables: "{!JSENCODE($Label.replacevariables)}",
    reply: "{!JSENCODE($Label.reply)}",
    replyAction: "{!JSENCODE($Label.replyaction)}",
    replyAll: "{!JSENCODE($Label.replyall)}",
    replyShortForm: "{!JSENCODE($Label.replyshortform)}",
    results: "{!JSENCODE($Label.results)}",
    resume: "{!JSENCODE($Label.resume)}",
    resumeErrorAttempt: "{!JSENCODE($Label.resumeerrorattempt)}",
    returnCall: "{!JSENCODE($Label.returncall)}",
    ringing: "{!JSENCODE($Label.ringing)}",
    save: "{!JSENCODE($Label.save)}",
    search: "{!JSENCODE($Label.search)}",
    select: "{!JSENCODE($Label.select)}",
    selectDateRange: "{!JSENCODE($Label.selectdaterange)}",
    selectDisposition: "{!JSENCODE($Label.selectdisposition)}",
    selectOutboundSkills: "{!JSENCODE($Label.selectoutboundskills)}",
    selectTheDisposition: "{!JSENCODE($Label.selectthedisposition)}",
    selectWhat: "{!JSENCODE($Label.selectwhat)}",
    selectWho: "{!JSENCODE($Label.selectwho)}",
    selectSkill:"{!JSENCODE($Label.selectskill)}",
    send: "{!JSENCODE($Label.send)}",
    sendDTMFTonesError: "{!JSENCODE($Label.senddtmftoneserror)}",
    sent: "{!JSENCODE($Label.sent)}",
    sessionEnded: "{!JSENCODE($Label.sessionended)}",
    sessionErrorEnd: "{!JSENCODE($Label.sessionerrorend)}",
    sessionID: "{!JSENCODE($Label.sessionid)}",
    showAllTimes: "{!JSENCODE($Label.showalltimes)}",
    skillCacheErrorAttempt: "{!JSENCODE($Label.skillcacheerrorattempt)}",
    skillName: "{!JSENCODE($Label.skillname)}",
    skillNotOpenError: "{!JSENCODE($Label.skillnotopenerror)}",
    skillQueue: "{!JSENCODE($Label.skillqueue)}",
    skills: "{!JSENCODE($Label.skills)}",
    skill: "{!JSENCODE($Label.skill)}",
    skillList: "{!JSENCODE($Label.skilllist)}",
    startDate: "{!JSENCODE($Label.startdate)}",
    state: "{!JSENCODE($Label.state)}",
    station: "{!JSENCODE($Label.station)}",
    stationID: "{!JSENCODE($Label.stationid)}",
    stationIDErrorAttempt: "{!JSENCODE($Label.stationiderrorattempt)}",
    subject: "{!JSENCODE($Label.subject)}",
    submit: "{!JSENCODE($Label.submit)}",
    submitFeedback: "{!JSENCODE($Label.submitfeedback)}",
    system: "{!JSENCODE($Label.system)}",
    systemAdmin: "{!JSENCODE($Label.systemadmin)}",
    team: "{!JSENCODE($Label.team)}",
    textColor: "{!JSENCODE($Label.textcolor)}",
    textToDisplay: "{!JSENCODE($Label.texttodisplay)}",
    thisWeek: "{!JSENCODE($Label.thisweek)}",
    timeAndDate:"{!JSENCODE($Label.timeanddate)}",
    to: "{!JSENCODE($Label.to)}",
    toTransferSelectAnAgentOrSkill: "{!JSENCODE($Label.totransferselectanagentorskill)}",
    today: "{!JSENCODE($Label.today)}",
    tools: "{!JSENCODE($Label.tools)}",
    transfer: "{!JSENCODE($Label.transfer)}",
    transferChatAgentErrorAttempt: "{!JSENCODE($Label.transferchatagenterrorattempt)}",
    transferChatSkillErrorAttempt: "{!JSENCODE($Label.transferchatskillerrorattempt)}",
    transferErrorAttempt: "{!JSENCODE($Label.transfererrorattempt)}",
    transferWIAgentErrorAttempt: "{!JSENCODE($Label.transferwiagenterrorattempt)}",
    transferWISkillErrorAttempt: "{!JSENCODE($Label.transferwiskillerrorattempt)}",
    unavailable: "{!JSENCODE($Label.unavailable)}",
    underline: "{!JSENCODE($Label.underline)}",
    unmask: "{!JSENCODE($Label.unmask)}",
    unmuteErrorAttempt: "{!JSENCODE($Label.unmuteerrorattempt)}",
    usernameIsNotValid: "{!JSENCODE($Label.usernameisnotvalid)}",
    usernameRequired: "{!JSENCODE($Label.usernamerequired)}",
    valueOne: "{!JSENCODE($Label.valueone)}",
    valueTwo: "{!JSENCODE($Label.valuetwo)}",
    wait: "{!JSENCODE($Label.wait)}",
    waitTime: "{!JSENCODE($Label.waittime)}",
    webServer: "{!JSENCODE($Label.webserver)}",
    what: "{!JSENCODE($Label.what)}",
    who: "{!JSENCODE($Label.who)}",
    workItem: "{!JSENCODE($Label.workitem)}",
    yes: "{!JSENCODE($Label.yes)}",
    you: "{!JSENCODE($Label.you)}",
    popScreen: "{!JSENCODE($Label.popscreen)}",
    contactNumberErrorAttempt: "{!JSENCODE($Label.contactnumbererrorattempt)}",
    preview: "{!JSENCODE($Label.preview)}",
    masking: "{!JSENCODE($Label.masking)}",
    answeringMachine: "{!JSENCODE($Label.answeringmachine)}",
    rejected: "{!JSENCODE($Label.rejected)}",
    badNumber: "{!JSENCODE($Label.badnumber)}",
    noAnswer: "{!JSENCODE($Label.noanswer)}",
    transferComplete: "{!JSENCODE($Label.transfercomplete)}",
    agentConfiguration: "{!JSENCODE($Label.agentconfiguration)}",
    agentConfigEntity: "{!JSENCODE($Label.agentconfigentity)}",
    agentConfigField: "{!JSENCODE($Label.agentconfigfield)}",
    campaign: "{!JSENCODE($Label.campaign)}",
    eventlabel: "{!JSENCODE($Label.event)}",
    task: "{!JSENCODE($Label.task)}",
    user: "{!JSENCODE($Label.user)}",
    account: "{!JSENCODE($Label.account)}",
    caselabel: "{!JSENCODE($Label.case)}",
    opportunity: "{!JSENCODE($Label.opportunity)}",
    lead: "{!JSENCODE($Label.lead)}",
    comment: "{!JSENCODE($Label.comment)}",
    minute: "{!JSENCODE($Label.minute)}",
    info: "{!JSENCODE($Label.info)}",
    all: "{!JSENCODE($Label.all)}",
    trace: "{!JSENCODE($Label.trace)}",
    debug: "{!JSENCODE($Label.debug)}",
    error: "{!JSENCODE($Label.error)}",
    fatal: "{!JSENCODE($Label.fatal)}",
    off: "{!JSENCODE($Label.off)}",
    warn: "{!JSENCODE($Label.warn)}",
    sfdcCase: "{!JSENCODE($Label.sfdccase)}",
    sfdcQuery: "{!JSENCODE($Label.sfdcquery)}",
    loginFailedErrorAttempt: "{!JSENCODE($Label.loginfailederrorattempt)}",
    pwdErrorAttempt: "{!JSENCODE($Label.pwderrorattempt)}",
    phoneErrorAttempt: "{!JSENCODE($Label.phoneerrorattempt)}",
    appErrorAttempt: "{!JSENCODE($Label.apperrorattempt)}",
    remoteErrorAttempt: "{!JSENCODE($Label.remoteerrorattempt)}",
    userSettingErrorAttempt: "{!JSENCODE($Label.usersettingerrorattempt)}",
    customSearch: "{!JSENCODE($Label.customsearch)}",
    softphoneErrorAttempt: "{!JSENCODE($Label.softphoneerrorattempt)}",
    contactSearchErrorAttempt: "{!JSENCODE($Label.contactsearcherrorattempt)}",
    callSearchErrorAttempt: "{!JSENCODE($Label.callsearcherrorattempt)}",
    contactProcessErrorAttempt: "{!JSENCODE($Label.contactprocesserrorattempt)}",
    callProcessErrorAttempt: "{!JSENCODE($Label.callprocesserrorattempt)}",
    apexErrorAttempt: "{!JSENCODE($Label.apexerrorattempt)}",
    apexDefaultErrorAttempt: "{!JSENCODE($Label.apexdefaulterrorattempt)}",
    time: "{!JSENCODE($Label.time)}",
    hour: "{!JSENCODE($Label.hour)}",
    hours: "{!JSENCODE($Label.hours)}",
    defaultlabel: "{!JSENCODE($Label.default)}",
    popScreenRunapp: "{!JSENCODE($Label.popscreenrunapp)}",
    popScreenTask: "{!JSENCODE($Label.popscreentask)}",
    popScreenIndicator: "{!JSENCODE($Label.popscreenindicator)}",
    popScreenContactSearch: "{!JSENCODE($Label.popscreencontactsearch)}",
    popScreenContactResult: "{!JSENCODE($Label.popscreencontactresult)}",
    getAllSkillsErrorAttempt: "{!JSENCODE($Label.getallskillserrorattempt)}",
    getAgentsSkillsErrorAttempt: "{!JSENCODE($Label.getagentsskillserrorattempt)}",
    getAgentSkillAssignmentsErrorAttempt: "{!JSENCODE($Label.getagentskillassignmentserrorattempt)}",
    getAllUnavailableCodesErrorAttempt: "{!JSENCODE($Label.getallunavailablecodeserrorattempt)}",
    getTeamsErrorAttempt: "{!JSENCODE($Label.getteamserrorattempt)}",
    getAgentInfoErrorAttempt: "{!JSENCODE($Label.getagentinfoerrorattempt)}",
    getTeamUnavailableCodesErrorAttempt: "{!JSENCODE($Label.getteamunavailablecodeserrorattempt)}",
    getAddressBookByTeamErrorAttempt: "{!JSENCODE($Label.getaddressbookbyteamerrorattempt)}",
    getAddressBookByAgentErrorAttempt: "{!JSENCODE($Label.getaddressbookbyagenterrorattempt)}",
    errorToFetchQuickReply: "{!JSENCODE($Label.errortofetchquickreply)}",
    noObjectsFound: "{!JSENCODE($Label.noobjectsfound)}",
    fieldsEmpty: "{!JSENCODE($Label.fieldsempty)}",
    ctrl_C_ToCopy: "{!JSENCODE($Label.ctrl_c_tocopy)}",
    none: "{!JSENCODE($Label.none)}",
    unknownAgent: "{!JSENCODE($Label.unknownagent)}",
    voicemail: "{!JSENCODE($Label.voicemail)}",
    getAgentStateCacheError: "{!JSENCODE($Label.getagentstatecacheerror)}",
    additionalDisp: "{!JSENCODE($Label.additionaldisp)}",
    salesforceAgent: "{!JSENCODE($Label.salesforceagent)}",
    version: "{!JSENCODE($Label.version)}",
    dialPadTooltipTxt: "{!JSENCODE($Label.dialpadtooltiptxt)}",
    agentListTooltipTxt: "{!JSENCODE($Label.agentlisttooltiptxt)}",
    skillListTooltipTxt: "{!JSENCODE($Label.skilllisttooltiptxt)}",
    addressBookTooltipTxt: "{!JSENCODE($Label.addressbooktooltiptxt)}",
    contactHistoryTooltipTxt: "{!JSENCODE($Label.contacthistorytooltiptxt)}",
    agentInfoToolitipTxt: "{!JSENCODE($Label.agentinfotoolitiptxt)}",
    more: "{!JSENCODE($Label.more)}",
    busy: "{!JSENCODE($Label.busy)}",
    working: "{!JSENCODE($Label.working)}",
    away: "{!JSENCODE($Label.away)}",
    doNotDisturb: "{!JSENCODE($Label.donotdisturb)}",
    offline: "{!JSENCODE($Label.offline)}",
    parkedEmail: "{!JSENCODE($Label.parkedemail)}",
    parkEmail: "{!JSENCODE($Label.parkemail)}",
    unParkEmail: "{!JSENCODE($Label.unparkemail)}",
    parked: "{!JSENCODE($Label.parked)}",
    loadAgainErrorAttempt: "{!JSENCODE($Label.loadagainerrorattempt)}",
    inbox: "{!JSENCODE($Label.inbox)}",
    days: "{!JSENCODE($Label.days)}",
    unparkNow: "{!JSENCODE($Label.unparknow)}",
    unparkToQueue: "{!JSENCODE($Label.unparktoqueue)}",
    typingMsg: "{!JSENCODE($Label.typingmsg)}",
    enteredTheText: "{!JSENCODE($Label.enteredthetext)}",
    requeue: "{!JSENCODE($Label.requeue)}",
    dateTimeDesc: "{!JSENCODE($Label.datetimedesc)}",
    dateTimeAsc: "{!JSENCODE($Label.datetimeasc)}",
    emailsSelected: "{!JSENCODE($Label.emailsselected)}",
    sun: "{!JSENCODE($Label.sun)}",
    mon: "{!JSENCODE($Label.mon)}",
    tue: "{!JSENCODE($Label.tue)}",
    wed: "{!JSENCODE($Label.wed)}",
    thu: "{!JSENCODE($Label.thu)}",
    fri: "{!JSENCODE($Label.fri)}",
    sat: "{!JSENCODE($Label.sat)}",
    inboxSizeExceeded: "{!JSENCODE($Label.inboxsizeexceeded)}",
    tags: "{!JSENCODE($Label.tags)}",
    errorToGetSkillTags: "{!JSENCODE($Label.errortogetskilltags)}",
    addTags: "{!JSENCODE($Label.addtags)}",
    enterPhoneNumberHere: "{!JSENCODE($Label.enterphonenumberhere)}",
    begin: "{!JSENCODE($Label.begin)}",
    end: "{!JSENCODE($Label.end)}",
    badNumberTooltip: "{!JSENCODE($Label.badnumbertooltip)}",
    omni: "{!JSENCODE($Label.omni)}",
    resultNotes: "{!JSENCODE($Label.resultnotes)}",
    abc: "{!JSENCODE($Label.abc)}",
    def: "{!JSENCODE($Label.def)}",
    ghi: "{!JSENCODE($Label.ghi)}",
    jkl: "{!JSENCODE($Label.jkl)}",
    mno: "{!JSENCODE($Label.mno)}",
    pqrs: "{!JSENCODE($Label.pqrs)}",
    tuv: "{!JSENCODE($Label.tuv)}",
    wxyz: "{!JSENCODE($Label.wxyz)}",
    reschedule: "{!JSENCODE($Label.reschedule)}",
    snooze: "{!JSENCODE($Label.snooze)}",
    commit: "{!JSENCODE($Label.commit)}",
    sunday: "{!JSENCODE($Label.sunday)}",
    monday: "{!JSENCODE($Label.monday)}",
    tuesday: "{!JSENCODE($Label.tuesday)}",
    wednesday: "{!JSENCODE($Label.wednesday)}",
    thursday: "{!JSENCODE($Label.thursday)}",
    friday: "{!JSENCODE($Label.friday)}",
    saturday: "{!JSENCODE($Label.saturday)}",
    selectTheSkill:"{!JSENCODE($Label.selecttheskill)}",
    emailTooltipTxt: "{!JSENCODE($Label.emailtooltiptxt)}",
    commitmentTooltipTxt: "{!JSENCODE($Label.commitmenttooltiptxt)}",
    commitmentDate:"{!JSENCODE($Label.commitmentdate)}",
    newCommitment: "{!JSENCODE($Label.newcommitment)}",
    endConference : "{!JSENCODE($Label.endConference)}",
    addCalltoConference : "{!JSENCODE($Label.addCalltoConference)}",
    omniChannel:"{!JSENCODE($Label.omniChannel)}",
    omniChannelBusy:"{!JSENCODE($Label.omniChannelBusy)}",
    softphoneAgentLegConnect:"{!JSENCODE($Label.softphoneAgentLegConnect)}"
    }
  </script>


  <apex:stylesheet value="{!URLFOR($Resource.icAgentConsole__AgentConsoleApp, 'css/jquery.mCustomScrollbar.css')}"/>
  <apex:stylesheet value="{!URLFOR($Resource.icAgentConsole__AgentConsoleApp, 'js/lib/SlickGrid/css/slick.grid.css')}"/>
  <apex:stylesheet value="{!URLFOR($Resource.icAgentConsole__AgentConsoleApp, 'js/lib/SlickGrid/css/slick.headerbuttons.css')}"/>
  <apex:stylesheet value="{!URLFOR($Resource.icAgentConsole__AgentConsoleApp, 'css/CustomScrollBar.css')}"/>
  <apex:stylesheet value="{!URLFOR($Resource.icAgentConsole__AgentConsoleApp, 'css/Combobox.css')}"/>

  <apex:stylesheet value="{!URLFOR($Resource.icAgentConsole__AgentConsoleApp, 'css/AgentConsolePopout.css')}"/>
  <apex:stylesheet value="{!URLFOR($Resource.icAgentConsole__AgentConsoleApp, 'css/jquery-ui-themes/jquery-ui.css')}"/>
  <apex:stylesheet value="{!URLFOR($Resource.icAgentConsole__AgentConsoleApp, 'css/EmailEditor.css')}"/>




  <!-- Third party libraries -->
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/base64-string-v1.1.0.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/lz-string-1.3.3.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/log4javascript.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/jquery-3.5.0.min.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/jquery-migrate-3.2.0.min.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/jquery-base64.js')}"/>
  <!--<script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/jquery-ui-1.10.3.min.js')}"/>-->
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/jquery-ui.min.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/jquery.event.drag-2.2.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/jquery.mCustomScrollbar.concat.min.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/jquery-ui-timepicker.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/SlickGrid/js/slick.core.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/SlickGrid/js/slick.grid.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/SlickGrid/js/slick.dataview.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/SlickGrid/plugins/slick.cellrangedecorator.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/SlickGrid/plugins/slick.cellrangeselector.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/SlickGrid/plugins/slick.cellselectionmodel.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/DateTimeExtensions.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/tinymce/tinymce.min.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/FileSaver.min.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/data/jquery.icxdr.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/lib/jstz-1.0.5.min.js')}"/>
  <!-- Agent Console App -->
  <!--<script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/data/jquery.icxdr.js')}"/>-->
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/common/SessionStorageAppender.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/common/Util.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/common/PersistentList.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/common/PersistentQueue.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/ComboboxControl.js')}"/>

  <apex:outputPanel rendered="{!isLightningMode}">
    <apex:stylesheet value="{!URLFOR($Resource.icAgentConsole__AgentConsoleApp, 'css/lightning/CommitmentPopoutLightning.css')}"/>
    <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/data/SalesforceLightning.js')}"/>
  </apex:outputPanel>

  <apex:outputPanel rendered="{!!isLightningMode}">
    <script src="/support/api/51.0/interaction.js" type="text/javascript"/>
    <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/data/Salesforce.js')}"/>
  </apex:outputPanel>

  <!-- Include scripts for salesforce integration -->
  <script src="/soap/ajax/51.0/connection.js" type="text/javascript"/>
  <script src="/soap/ajax/51.0/apex.js" type="text/javascript"></script>

  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/data/AgentConsoleDataStore.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/DispositionControl.js')}"/>

  <!-- Load custom control / widgets -->
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/SkillListControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/AgentListControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/AddressBookControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/ContactHistoryControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/AgentInformationControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/AgentStateControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/DialPadControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/MultiCallControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/AcceptRejectPanel.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/ConsultAcceptReject.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/ChatAcceptRejectControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/ChatContactControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/AgentLegAcceptRejectControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/EmailContactControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/popout/ChatPopoutContactControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/popout/ChatPopoutMessageEditor.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/popout/QuickReplyPopoutControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/popout/EmailDetailPopoutControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/popout/EmailAddressPopoutControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/common/AgentConsoleLocale.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/TagsControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/AgentIndicatorControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/RescheduleDateTimeControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/CallContactControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/VoiceMailContactControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/ChatAcceptRejectControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/WorkItemAcceptRejectControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/PCAcceptRejectControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/WorkItemContactControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/EmailListControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/KeyPadControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/PromiseKeeperControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/PromiseKeeperDetailsControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/PromiseKeeperDateTimeControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/BaseContainer.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/ResultsNotesDispControl.js')}"/>
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/app/ResultsAndNotesControl.js')}"/>
  <!-- Load UI container last -->
  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/popout/PopoutContainer.js')}"/>

  <script type="text/javascript" src="{!URLFOR($Resource.AgentConsoleApp, 'js/common/EventErrorMessages.js')}"/>

  <div id="agentConsolePopoutContainer" />

  <script type="text/javascript">
    var j1102 = jQuery.noConflict();

    // set the session id to make SOQL query from javascript
    sforce.connection.sessionId = '{!JSENCODE($Api.Session_ID)}';

    j1102(document).ready(function ($) {
    $('#agentConsolePopoutContainer').popout({
    timezoneOffset: parseInt({!JSENCODE(timezoneOffset)}),
    localeCode: '{!JSENCODE(localeCode)}',
    langCode: '{!JSENCODE(langCode)}',
    resourceBase: '{!JSENCODE($Resource.AgentConsoleApp)}',
    sfMode: '{!JSENCODE($CurrentPage.parameters.mode)}',
    isTooltipEnabled: {!isTooltipEnabled},
    agentVersion: '{!JSENCODE(agentConsoleVersion)}',
    sfNamespace: '{!JSENCODE(agentNamespacePrefix)}',
    sfUserId: '{!JSENCODE(sfUserId)}',
    sfUsername: '{!JSENCODE(sfUsername)}',
    agentVisualSettings: JSON.parse('{!JSENCODE(agentVisualSettings)}'),
    agentAudioSettings: JSON.parse('{!JSENCODE(agentAudioSettings)}'),
    openCtiApiRetryMax: '{!JSENCODE(openCtiApiRetryMax)}',
    openCtiApiTimeout: '{!JSENCODE(openCtiApiTimeout)}'
    });

    });


  </script>

</apex:page>