<apex:page showHeader="true" sidebar="true" standardStyleSheets="false" controller="oafsl.ConnectedAppCtrl">
    <div id="container1">
        <apex:canvasApp applicationName="{!appApiName}" parameters="{!parameters}" containerId="container1" width="1000"/>
    </div>
</apex:page>