<apex:page lightningStylesheets="true" standardController="PT_Parent_Opportunity__c">
  <apex:form >
    <apex:pageBlock title="New Opportunity Input: Create" mode="edit">
      <apex:pageBlockButtons location="bottom">
        <apex:commandButton action="{!save}" value="Save"/>
        <apex:commandButton action="{!cancel}" value="Cancel"/>
      </apex:pageBlockButtons>
      <apex:pageBlockSection title="Information" columns="2">
        <apex:inputField value="{!PT_Parent_Opportunity__c.Account__c}" required="true"/>
        <apex:inputField value="{!PT_Parent_Opportunity__c.Year__c}" required="true"/>
        <apex:inputField value="{!PT_Parent_Opportunity__c.Type__c}" required="true"/>
        <apex:inputField value="{!PT_Parent_Opportunity__c.Product_Group__c}" required="true"/>
      </apex:pageBlockSection>
      <apex:pageBlockSection title="Opportunity Name" columns="1">
        <apex:inputField value="{!PT_Parent_Opportunity__c.Name}" required="true"/>
        <apex:inputField value="{!PT_Parent_Opportunity__c.Description__c}"/>
      </apex:pageBlockSection>
    </apex:pageBlock>
  </apex:form>
</apex:page>