<apex:page StandardController="Account">

<h2>{!Account.Name}</h2>

<apex:iframe width="100%" height="1550px" scrolling="true"
    src="https://cstableau.ingersollrand.com/t/FMT/views/ToolsEMEIACurrentYear/01_SalesMachine2_0?:embed=y&:showShareOptions=true&:display_count=no&:showVizHome=no"/>

</apex:page>