<!-- Deprecated; redirecting to consolidated settings page -->
<apex:page sidebar="false" title="Redirecting">
    <script type="text/javascript">
        window.location.replace('/apex/sma__MapAnythingSettings?tabId=TerritoryManagement');
    </script>
</apex:page>