/**
 * Created by wenboliu on 18/11/2024.
 */
.custom-link-button {
    all: unset; /* Resets inherited styles */
    color: #0070d2 !important; /* SLDS link blue */
    text-decoration: underline !important;
    cursor: pointer !important;
    font: inherit !important; /* Match font of surrounding text */
}
.custom-link-button:hover {
    text-decoration: none !important; /* Optional hover effect */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}