<template>
    <div class="slds-box slds-p-around_none slds-m-top_x-small slds-m-bottom_medium slds-m-horizontal_none">
        <lightning-layout multiple-rows>
            <lightning-layout-item size="12" padding="around-small">
                <div class="slds-text-align_center"><strong>{pageTitle}</strong></div>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-layout multiple-rows>
            <lightning-layout-item size="6" padding="around-small">
                <div class="slds-text-align_center">
                    <button class="custom-link-button" onclick={handleAllRoboxLobeClick}>
                        {allRoboxLobefilterLabel}
                    </button>
                </div>
            </lightning-layout-item>
            <lightning-layout-item size="6" padding="around-small">
                <div class="slds-text-align_center">
                    <button class="custom-link-button" onclick={handleAllRoboxScrewClick}>
                        {allRoboxScrewfilterLabel}
                    </button>
                </div>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-layout multiple-rows>
            <lightning-layout-item size="12" padding="around-small">
                <div class="slds-text-align_center"><strong>{pageSubTitle}</strong></div>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-layout multiple-rows>
            <lightning-layout-item size="6" padding="around-small">
                <div class="slds-text-align_left slds-m-left_medium">{partsForRoboxLobeMachineLabel}</div>
            </lightning-layout-item>
            <lightning-layout-item size="3" padding="around-small">
                <div class="slds-text-align_left slds-m-left_medium">{partsForRoboxScrew_f_MachineLabel}</div>
            </lightning-layout-item>
            <lightning-layout-item size="3" padding="around-small">
                <div class="slds-text-align_left slds-m-left_medium">{partsForRoboxScrew_s_MachineLabel}</div>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-layout multiple-rows>
            <lightning-layout-item size="3" padding="around-small">
                <div class="slds-text-align_left slds-m-left_medium">
                    <ul class="slds-list_dotted">
                        <template for:each={roboxListOne} for:item="robox">
                            <li key={robox.id}>
                                <button class="custom-link-button" data-id={robox.id} onclick={handleClick}>
                                    {robox.name}
                                </button>
                            </li>
                        </template>
                    </ul>
                </div>
            </lightning-layout-item>
            <lightning-layout-item size="3" padding="around-small">
                <div class="slds-text-align_left slds-m-left_medium">
                    <ul class="slds-list_dotted">
                        <template for:each={roboxListTwo} for:item="robox">
                            <li key={robox.id}>
                                <button class="custom-link-button" data-id={robox.id} onclick={handleClick}>
                                    {robox.name}
                                </button>
                            </li>
                        </template>
                    </ul>
                </div>
            </lightning-layout-item>
            <lightning-layout-item size="3" padding="around-small">
                <div class="slds-text-align_left slds-border_left slds-p-left_medium">
                    <ul class="slds-list_dotted">
                        <template for:each={roboxListFour} for:item="robox">
                            <li key={robox.id}>
                                <button class="custom-link-button" data-id={robox.id} onclick={handleClick}>
                                    {robox.name}
                                </button>
                            </li>
                        </template>
                    </ul>
                </div>
            </lightning-layout-item>
            <lightning-layout-item size="3" padding="around-small">
                <div class="slds-text-align_left slds-m-left_medium">
                    <ul class="slds-list_dotted">
                        <template for:each={roboxListFive} for:item="robox">
                            <li key={robox.id}>
                                <button class="custom-link-button" data-id={robox.id} onclick={handleClick}>
                                    {robox.name}
                                </button>
                            </li>
                        </template>
                    </ul>
                </div>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-layout multiple-rows>
            <lightning-layout-item size="6" padding="around-small">
                <div class="slds-text-align_left slds-m-left_medium">{partsForRoboxLobeMachineLegacyLabel}</div>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-layout multiple-rows>
            <lightning-layout-item size="3" padding="around-small">
                <div class="slds-text-align_left slds-m-left_medium">
                    <ul class="slds-list_dotted">
                        <template for:each={roboxListThree} for:item="robox">
                            <li key={robox.id}>
                                <button class="custom-link-button" data-id={robox.id} onclick={handleClick}>
                                    {robox.name}
                                </button>
                            </li>
                        </template>
                    </ul>
                </div>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>