<template>
    <lightning-input-address
            disabled={loading}
            address-label={_billingAddressInfo.labelText}
            street-label={billingStreetAddressLabel}
            city-label={billingCityLabel}
            country-label={billingCountryLabel}
            province-label={billingStateLabel}
            postal-code-label={billingPostalCodeLabel}
            street={billingStreetAddress}
            city={billingCity}
            country={billingCountry}
            province={billingState}
            postal-code={billingPostalCode}
            country-options={countryOptions}
            province-options={billingStateOptions}
            class="validate"
            required
            field-level-help={_billingAddressInfo.helperText}
            onchange={handleBillingAddressChange}
    ></lightning-input-address>

    <lightning-input label={_shippingAddressEqualBillingAddressInfo.labelText}
                     disabled={loading}
                     type="checkbox"
                     checked={shippingAddressEqualBillingAddress}
                     field-level-help={_shippingAddressEqualBillingAddressInfo.helperText}
                     onchange={handleFieldChange}
                     name='shippingAddressEqualBillingAddress'>
    </lightning-input>

    <lightning-input-address
            disabled={loading}
            lwc:if={showShippingAddress}
            address-label={_shippingAddressInfo.labelText}
            street-label={shippingStreetAddressLabel}
            city-label={shippingCityLabel}
            country-label={shippingCountryLabel}
            province-label={shippingStateLabel}
            postal-code-label={shippingPostalCodeLabel}
            street={shippingStreetAddress}
            city={shippingCity}
            country={shippingCountry}
            province={shippingState}
            postal-code={shippingPostalCode}
            country-options={countryOptions}
            province-options={shippingStateOptions}
            class="validate"
            required
            field-level-help={_shippingAddressInfo.helperText}
            onchange={handleShippingAddressChange}
    ></lightning-input-address>

    <lightning-input label={_accountNameInfo.labelText}
                     disabled={loading}
                     class="validate"
                     value={accountName}
                     onchange={handleFieldChange}
                     required
                     name='accountName'
                     field-level-help={_accountNameInfo.helperText}>
    </lightning-input>

    <lightning-input label={_accountVATNumberInfo.labelText}
                     disabled={loading}
                     class="validate"
                     pattern={vatRegexPattern}
                     placeholder={vatRegexPlaceholder}
                     value={accountVATNumber}
                     onchange={handleFieldChange}
                     required
                     name='accountVATNumber'
                     field-level-help={_accountVATNumberInfo.helperText}>
    </lightning-input>

    <lightning-input label={_accountFiscalCodeInfo.labelText}
                     disabled={loading}
                     class="validate"
                     value={accountFiscalCode}
                     onchange={handleFieldChange}
                     required={fiscalCodeRequired}
                     name='accountFiscalCode'
                     field-level-help={_accountFiscalCodeInfo.helperText}>
    </lightning-input>

    <lightning-input label={_accountInvoiceEmailInfo.labelText}
                     disabled={loading}
                     class="validate"
                     type="email"
                     value={accountInvoiceEmail}
                     onchange={handleFieldChange}
                     onblur={handleInvoiceEmailBlur}
                     required
                     name='accountInvoiceEmail'
                     field-level-help={_accountInvoiceEmailInfo.helperText}>
    </lightning-input>

    <lightning-input label={_accountSDINumberInfo.labelText}
                     disabled={loading}
                     lwc:if={isItalian}
                     class="validate"
                     value={accountSDINumber}
                     onchange={handleFieldChange}
                     required={sdiNumberRequired}
                     name='accountSDINumber'
                     field-level-help={_accountSDINumberInfo.helperText}>
    </lightning-input>

    <lightning-input label={_accountPECEmailInfo.labelText}
                     disabled={loading}
                     lwc:if={isItalian}
                     class="validate"
                     type="email"
                     value={accountPECEmail}
                     onchange={handleFieldChange}
                     required={pecAddressRequired}
                     name='accountPECEmail'
                     field-level-help={_accountPECEmailInfo.helperText}>
    </lightning-input>

    <lightning-input label={_contactFirstNameInfo.labelText}
                     disabled={loading}
                     class="validate"
                     value={contactFirstName}
                     onchange={handleFieldChange}
                     required
                     name='contactFirstName'
                     field-level-help={_contactFirstNameInfo.helperText}>
    </lightning-input>

    <lightning-input label={_contactLastNameInfo.labelText}
                     disabled={loading}
                     class="validate"
                     value={contactLastName}
                     onchange={handleFieldChange}
                     required
                     name='contactLastName'
                     field-level-help={_contactLastNameInfo.helperText}>
    </lightning-input>

    <lightning-input label={_contactPhoneNumberInfo.labelText}
                     disabled={loading}
                     class="validate"
                     type="tel"
                     pattern="^\+[1-9]\d{1,14}"
                     value={contactPhoneNumber}
                     onkeydown={handlePhoneKeyDown}
                     onchange={handleFieldChange}
                     max-length="15"
                     name='contactPhoneNumber'
                     field-level-help={_contactPhoneNumberInfo.helperText}>
    </lightning-input>

    <lightning-input label={_contactEmailInfo.labelText}
                     disabled={loading}
                     class="validate"
                     type="email"
                     value={contactEmail}
                     onchange={handleFieldChange}
                     required
                     name='contactEmail'
                     field-level-help={_contactEmailInfo.helperText}>
    </lightning-input>

    <lightning-input label={_passwordInfo.labelText}
                     disabled={loading}
                     class="validate"
                     type="password"
                     value={password}
                     onchange={handleFieldChange}
                     required
                     name='password'
                     field-level-help={_passwordInfo.helperText}>
    </lightning-input>

    <lightning-input label={_passwordConfirmationInfo.labelText}
                     disabled={loading}
                     class="validate"
                     type="password"
                     value={passwordConfirmation}
                     onchange={handleFieldChange}
                     required
                     name='passwordConfirmation'
                     field-level-help={_passwordConfirmationInfo.helperText}>
    </lightning-input>

    <div class="slds-align_absolute-center">
        <span class="checkbox-label">
            <lightning-input type="checkbox" checked={isTermsAccepted} onchange={handleCheckboxChange}></lightning-input>
            <span class="label-text">
                {acceptLabel} &nbsp;
                <a href="https://www.irco.com/terms" target="_blank">
                    {generalTermsConditionsLabel}
                </a>
            </span>
        </span>
    </div>

    <div class="slds-float_right">
        <lightning-button label={submitLabel} onclick={handleUserCreation} disabled={isButtonDisabled}></lightning-button>
    </div>

    <!-- Error Message -->
    <div lwc:if={error} role="alert" class="slds-m-top_small">
        <span class="slds-text-color_destructive">{error}</span>
    </div>
</template>