.THIS.slds-align_absolute-center{
    text-align: center !important;
}

.THIS.title-image{
    margin-bottom: 20px;
    width: 100%;
}

.THIS .slds-form-element__label{
    font-size: initial;
}

.THIS .button-container{
    margin-top: 10px;
}

.THIS button[disabled]{
    cursor: no-drop !important;
}

.THIS #error {
    text-align: center;
    color:#FF0000;
}

.THIS input[type="checkbox"] {
    appearance: none;
    border: 1px solid #CCC;
    height: 22px;
    width: 22px;
    vertical-align: middle;
    margin-left: 0px !important;
    margin-right: 5px;
}

.THIS input[type="checkbox"]:hover {
    cursor: pointer;
}

.THIS input[type="checkbox"]:checked {
    border: 1px solid;
}

.THIS input[type="checkbox"]:checked:after {
    display: block;
    position: relative;
    content: '';
    left: 5px;
    top: 6px;
    height: 6px;
    width: 10px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    transform: rotate(-45deg);
}

.THIS input[type="checkbox"].disabled {
    opacity: 0.35;
}

.THIS input[type="checkbox"] + label {
    vertical-align: middle;
}

.THIS button.sfdc_button {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    text-shadow: none;
    background-color: rgb(212, 42, 29);
    border-color: rgb(212, 42, 29);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.THIS button:hover {
    cursor: pointer;
    background-color: rgb(167, 33, 23);
}

.THIS .uiButton .label{
    color: rgb(255, 255, 255);
}

.THIS .uiButton:disabled .label{
    color: rgb(255, 255, 255);
}

.THIS .slds-combobox__input:hover{
    cursor: pointer;
}

@media (min-width: 48em){
    .THIS .combo-control{
        padding-left: 31%;
    }
    .THIS .combo-control .slds-form-element__help{
        padding-left: 8px;
    }
}

.THIS .community-link{
    padding-left: 3px;
    padding-right: 3px;
}

.THIS .reCaptchaSmall{
    height: 60px;
}
.THIS .reCaptchaBig{
    height: 500px;
}