<template>
    
    <template if:true={isLoading}>

        <div>
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </div>

    </template>

    <div class="slds-p-around_medium">

        <fieldset style="border: 1px solid rgb(221, 219, 218)">

            <legend>
                <span class="slds-p-left_x-small slds-p-bottom_x-small">                    
                    <!-- <img class="icon-large" src={titleIconURL}/> -->
                    <c-font-awesome-icon icon-name="Notif_Sub_Settings" icon-size-override="2x"></c-font-awesome-icon>
                </span> 
                &nbsp;                                                
                <span class="slds-text-heading_medium"><b>Notification Subscriptions Status</b></span>
                &nbsp;
            </legend>          

            <lightning-layout multiple-rows="true">  
                
                <lightning-layout-item flexibility="auto" padding="around-small" size="12" >

                    <p class="slds-p-around_x-small">

                        <!-- <img class="icon-small" src={lightBulbIconURL}/> -->

                        <span class="slds-p-around_x-small">
                            <c-font-awesome-icon icon-name="Info" icon-size-override="2x"></c-font-awesome-icon>
                        </span>

                        The tree view below will display all of your sites and assets along with their current notification subscription status.  
                        You can click on the icons next to each site and asset to update your subscriptions.  
                    </p>  
                    <div class="slds-p-top_small slds-p-bottom_small slds-p-left_large">
                        <ul style="list-style-type:disc">
                            <li>If no icon is present for a site, that means there are no assets for that site that are IOT enabled.</li>
                            <li>If no icon is present for an asset, that means the asset is not IOT enabled.</li>
                        </ul>  
                    </div>

                    <template if:true={showHelixDisabled}>

                        <lightning-input 
                            value={showHelixDisabled}
                            type="toggle" 
                            message-toggle-active="Showing Helix Disabled"
                            message-toggle-inactive="Hiding Helix Disabled"                                
                            checked
                            onclick={onHideHelixDisabled}>
                        </lightning-input>                                                                                               

                    </template>  
                                                        
                    <template if:false={showHelixDisabled}>

                        <lightning-input 
                            type="toggle" 
                            value={showHelixDisabled}
                            message-toggle-active="Showing Helix Disabled"
                            message-toggle-inactive="Hiding Helix Disabled"                                     
                            onclick={onShowHelixDisabled}>
                        </lightning-input>                                              

                    </template>                          

                    <div class="slds-tree_container">                            

                        <ul aria-labelledby="treeheading" class="slds-tree" role="tree">

                            <template for:each={treeItems} for:item="root" for:index="index">

                                <li key={root.Id} aria-level="1" role="treeitem" aria-expanded="true">
                                    <div class="slds-tree__item">
                                        <span class="slds-has-flexi-truncate">
                                            <span class="slds-tree__item-label slds-truncate" title={root.title}>

                                                {root.label}

                                                <template if:true={root.subscribed}>

                                                    <span class="slds-p-left_small" style="vertical-align: middle;">
                                                        <c-font-awesome-icon icon-name="Notif_Sub_Status_Opt_In" icon-size-override="2x" oniconclick={manageSubscriptionsFA}></c-font-awesome-icon>
                                                    </span> 

                                                    <!-- <img 
                                                        class="icon-small slds-p-left_small" 
                                                        onclick={manageSubscriptions}
                                                        src={subscribedIconURL}/> -->

                                                </template>

                                                <template if:false={root.subscribed}>

                                                    <span class="slds-p-left_small" style="vertical-align: middle;">
                                                        <c-font-awesome-icon icon-name="Global" icon-size-override="2x" oniconclick={manageSubscriptionsFA}></c-font-awesome-icon>
                                                    </span> 

                                                    <!-- <img 
                                                        class="icon-small slds-p-left_small" 
                                                        onclick={manageSubscriptions}
                                                        src={unsubscribedIconURL}/> -->

                                                </template>

                                            </span>
                                        </span>
                                    </div>
                                </li>

                                <template for:each={root.sites} for:item="site" for:index="siteIndex">

                                    <ul key={site.Id} role="group">

                                        <li aria-level="2" role="treeitem" aria-expanded={site.expanded}>

                                            <div class="slds-tree__item">

                                                <template if:true={site.hasAssets}>
                                                    <lightning-button-icon data-index={siteIndex} icon-name="utility:chevronright" size="small" onclick={toggleSiteBranch}></lightning-button-icon>
                                                </template>

                                                <span class="slds-has-flexi-truncate">    

                                                    <span class="slds-tree__item-label slds-truncate">

                                                        <template if:true={site.hasAssets}>

                                                            <span class="slds-p-left_small slds-p-right_xx-small" style="vertical-align: middle;">
                                                                <c-font-awesome-icon icon-name="Site_Displayed" icon-size-override="2x"></c-font-awesome-icon>
                                                            </span>

                                                            <!-- <lightning-icon 
                                                                icon-name="utility:company" 
                                                                size="small" 
                                                                variant="error" 
                                                                class="slds-p-left_small slds-p-right_xx-small">                                                
                                                            </lightning-icon> -->

                                                        </template>

                                                        <template if:false={site.hasAssets}>

                                                            <span class="slds-p-left_x-large slds-p-right_xx-small" style="vertical-align: middle;">
                                                                <c-font-awesome-icon icon-name="Site_Displayed" icon-size-override="2x"></c-font-awesome-icon>
                                                            </span>

                                                            <!-- <lightning-icon 
                                                                icon-name="utility:company" 
                                                                size="small" 
                                                                variant="error" 
                                                                class="slds-p-left_x-large slds-p-right_xx-small">                                                
                                                            </lightning-icon> -->

                                                        </template>

                                                        <a data-recordid={site.value} class="outputLookupLink" onclick={navigateToRecordDetails} title={site.detailsLinkTitle}>{site.label}</a>

                                                        <template if:true={site.subscriptionEnabled}>

                                                            <span title={site.manageIconTitle}>

                                                                <template if:true={site.subscribed}>

                                                                    <template if:true={site.partialOptOut}>

                                                                        <span class="slds-p-left_small" style="vertical-align: middle;">

                                                                            <c-font-awesome-icon 
                                                                                icon-name="Notif_Sub_Status_Override" 
                                                                                icon-size-override="2x" 
                                                                                val={site.value} 
                                                                                oniconclick={manageSubscriptionsFA}>
                                                                            </c-font-awesome-icon>

                                                                        </span>   
<!-- 
                                                                        <lightning-icon
                                                                            data-value={site.value}
                                                                            class="slds-p-left_small" 
                                                                            size="small"
                                                                            onclick={manageSubscriptions}
                                                                            icon-name="utility:away"
                                                                            variant="error">
                                                                        </lightning-icon> -->

                                                                    </template>

                                                                    <template if:false={site.partialOptOut}>

                                                                        <span class="slds-p-left_small" style="vertical-align: middle;">

                                                                            <c-font-awesome-icon 
                                                                                icon-name="Notif_Sub_Status_Opt_In" 
                                                                                icon-size-override="2x" 
                                                                                val={site.value} 
                                                                                oniconclick={manageSubscriptionsFA}>
                                                                            </c-font-awesome-icon>

                                                                        </span>   
<!-- 
                                                                        <img 
                                                                            data-value={site.value}
                                                                            class="icon-small slds-p-left_small" 
                                                                            onclick={manageSubscriptions}
                                                                            src={subscribedIconURL}/>                                                                         -->

                                                                    </template>                                                                    

                                                                </template>
            
                                                                <template if:false={site.subscribed}>

                                                                    <template if:true={site.fullOptOut}>

                                                                        <span title={site.manageIconTitle}>

                                                                            <span class="slds-p-left_small" style="vertical-align: middle;">
                                                                                
                                                                                <c-font-awesome-icon 
                                                                                    icon-name="Notif_Sub_Status_Implied_Opt_Out" 
                                                                                    icon-size-override="2x"
                                                                                    val={site.value}
                                                                                    oniconclick={manageSubscriptionsFA}>
                                                                                </c-font-awesome-icon>

                                                                            </span>  
                                
                                                                            <!-- <lightning-icon
                                                                                data-value={site.value}
                                                                                class="slds-p-left_small" 
                                                                                size="small"
                                                                                onclick={manageSubscriptions}
                                                                                icon-name="utility:ban"
                                                                                variant="error">
                                                                            </lightning-icon> -->

                                                                        </span>

                                                                    </template>

                                                                    <template if:false={site.fullOptOut}>                                                                        

                                                                        <span class="slds-p-left_small" style="vertical-align: middle;">

                                                                            <c-font-awesome-icon 
                                                                                icon-name="Notif_Sub_Status_Implied_Opt_Out" 
                                                                                icon-size-override="2x" 
                                                                                val={site.value} 
                                                                                oniconclick={manageSubscriptionsFA}>
                                                                            </c-font-awesome-icon>

                                                                        </span>  
                                                                        
                                                                        <!-- <img 
                                                                            data-value={site.value}
                                                                            class="icon-small slds-p-left_small" 
                                                                            onclick={manageSubscriptions}
                                                                            src={unsubscribedIconURL}/> -->

                                                                    </template>

                                                                </template>  
                                                                
                                                            </span>
                                                            
                                                        </template>

                                                        <template if:false={site.subscriptionEnabled}>
                     
                                                            <span class="slds-p-left_small" style="vertical-align: middle;" title="Subscriptions Not Available">
                                                                
                                                                <c-font-awesome-icon 
                                                                    icon-name="Helix_Not_Connected" 
                                                                    icon-size-override="2x" 
                                                                    disabled>
                                                                </c-font-awesome-icon>

                                                            </span>

                                                            <!-- <img 
                                                                data-value={site.value}
                                                                title="Subscriptions Not Available"
                                                                class="icon-small icon-disabled slds-p-left_small" 
                                                                src={subscriptionsDisabledIconURL}/>                                                                                                                                                         -->

                                                        </template>

                                                    </span>
                                                </span>
                                            </div>
                                        </li>

                                        <template for:each={site.assets} for:item="asset" for:index="assetIndex">

                                            <ul key={asset.Id} role="group">

                                                <template if:true={site.expanded}>

                                                    <li aria-level="3" role="treeitem">
                                                        <div class="slds-tree__item">
                                                            <span class="slds-has-flexi-truncate">

                                                                <span class="slds-tree__item-label slds-truncate">

                                                                    <span class="slds-p-left_xx-large slds-p-right_xx-small" style="vertical-align: middle;">

                                                                        <c-font-awesome-icon 
                                                                            icon-name="Asset_Displayed" 
                                                                            icon-size-override="2x">
                                                                        </c-font-awesome-icon>

                                                                    </span>

                                                                    <!-- <lightning-icon 
                                                                        icon-name="utility:toggle_panel_left" 
                                                                        size="small" 
                                                                        variant="error" 
                                                                        class="slds-p-left_xx-large slds-p-right_xx-small">                                                
                                                                    </lightning-icon> -->
                                                                    
                                                                    <a data-recordid={asset.value} class="outputLookupLink" onclick={navigateToRecordDetails} title={asset.detailsLinkTitle}>{asset.label}</a>

                                                                    <template if:true={asset.subscriptionEnabled}>

                                                                        <span title={asset.manageIconTitle}>

                                                                            <template if:true={asset.subscribed}>

                                                                                <template if:true={asset.partialOptOut}>
                                                                                    
                                                                                    <span class="slds-p-left_small" style="vertical-align: middle;">

                                                                                        <c-font-awesome-icon 
                                                                                            icon-name="Notif_Sub_Status_Override" 
                                                                                            icon-size-override="2x" 
                                                                                            val={asset.value} 
                                                                                            oniconclick={manageSubscriptionsFA}>
                                                                                        </c-font-awesome-icon>

                                                                                    </span>        

                                                                                    <!-- <lightning-icon
                                                                                        data-value={asset.value}
                                                                                        class="slds-p-left_small" 
                                                                                        size="small" 
                                                                                        onclick={manageSubscriptions}
                                                                                        icon-name="utility:away"
                                                                                        variant="error">
                                                                                    </lightning-icon> -->
            
                                                                                </template>
            
                                                                                <template if:false={asset.partialOptOut}>

                                                                                    <span class="slds-p-left_small" style="vertical-align: middle;">

                                                                                        <c-font-awesome-icon 
                                                                                            icon-name="Notif_Sub_Status_Opt_In" 
                                                                                            icon-size-override="2x" 
                                                                                            val={asset.value} 
                                                                                            oniconclick={manageSubscriptionsFA}>
                                                                                        </c-font-awesome-icon>

                                                                                    </span>   

                                                                                    <!-- <img 
                                                                                        data-value={asset.value}
                                                                                        class="icon-small slds-p-left_small" 
                                                                                        onclick={manageSubscriptions}
                                                                                        src={subscribedIconURL}/> -->

                                                                                </template>

                                                                            </template>
                        
                                                                            <template if:false={asset.subscribed}>

                                                                                <template if:true={asset.fullOptOut}>

                                                                                    <span title={asset.manageIconTitle}>

                                                                                        <span class="slds-p-left_small" style="vertical-align: middle;">

                                                                                            <c-font-awesome-icon 
                                                                                                icon-name="Notif_Sub_Status_Implied_Opt_Out" 
                                                                                                icon-size-override="2x" 
                                                                                                val={asset.value} 
                                                                                                oniconclick={manageSubscriptionsFA}>
                                                                                            </c-font-awesome-icon>

                                                                                        </span>  

                                                                                        <!-- <lightning-icon
                                                                                            data-value={asset.value}
                                                                                            class="slds-p-left_small" 
                                                                                            size="small"
                                                                                            onclick={manageSubscriptions}
                                                                                            icon-name="utility:ban"
                                                                                            variant="error">
                                                                                        </lightning-icon> -->
        
                                                                                    </span>
        
                                                                                </template>
        
                                                                                <template if:false={asset.fullOptOut}>  

                                                                                    <span class="slds-p-left_small" style="vertical-align: middle;">

                                                                                        <c-font-awesome-icon 
                                                                                            icon-name="Notif_Sub_Status_Implied_Opt_Out" 
                                                                                            icon-size-override="2x" 
                                                                                            val={asset.value} 
                                                                                            oniconclick={manageSubscriptionsFA}>
                                                                                        </c-font-awesome-icon>

                                                                                    </span>  

                                                                                    <!-- <img 
                                                                                        data-value={asset.value}
                                                                                        class="icon-small slds-p-left_small" 
                                                                                        onclick={manageSubscriptions}
                                                                                        src={unsubscribedIconURL}/> -->

                                                                                </template>
                                                                                    
                                                                            </template> 

                                                                        </span>

                                                                    </template>

                                                                    <template if:false={asset.subscriptionEnabled}>

                                                                        <span class="slds-p-left_small" title="Subscriptions Not Available">
                                                                            <c-font-awesome-icon icon-name="Helix_Not_Connected" icon-size-override="2x" disabled></c-font-awesome-icon>
                                                                        </span>

                                                                        <!-- <img 
                                                                            data-value={asset.value}
                                                                            title="Subscriptions Not Available"
                                                                            class="icon-small icon-disabled slds-p-left_small" 
                                                                            src={subscriptionsDisabledIconURL}/>                                                                                                                                                         -->
                                                                    </template>

                                                                </span>

                                                            </span>
                                                        </div>
                                                    </li>

                                                </template>

                                            </ul>
                    
                                        </template>

                                    </ul>

                                </template>

                            </template>

                        </ul>

                    </div>

                </lightning-layout-item>

            </lightning-layout>

        </fieldset>

    </div>

</template>